<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>IT Project</title>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="https://www.google.com/recaptcha/api.js?render=6LcRbVImAAAAAAZUBfTdnatVxr1r1TkNrf4Q70Q8"></script>
    <script defer src="../assets/captcha.js"></script>
    <script defer src="../assets/app.js"></script>
    <link href="../static/static.css" rel="stylesheet" />
    <link rel="icon" href="../images/ITlogo.svg" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_body">
                <div class="header_logo">
                    <img class="logo" src="../images/ITlogo.svg" alt="">
                    <a class="header_title" href="#Главная">Project</a>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="#Главная" class="header_link">Home</a></li>
                        <li><a href="#Основные_направления" class="header_link">Activity</a></li>
                        <li><a href="#О_компании" class="header_link">About</a></li>
                        <li><a href="#Разработки" class="header_link">Developments</a></li>
                        <li><a href="#Контакты" class="header_link">Contacts</a></li>
                        <li><a href="index.html" class="button_lang">РУ</a></li>
                        <li><a href="index_en.html" class="button_lang">EN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>
    <div class="wrapper">
    <div class="block-1" id="Главная">
        <div>
            <p class="tagline">IT Project: innovation and quality in the software world</p>
            <a href="#Контакты" class="button_zl">Learn more</a>
        </div>
        <img class="img1_block-1" src="../images/img1_block-1.png" alt="">
    </div>
    <div class="block-2" id="Основные_направления">
        <a class="header_block-2">Main developments</a>
        <div class="icons">
            <img class="icon" src="../images/controller_block-2.png" alt="">
            <img class="icon" src="../images/shield_block-2.png" alt="">
            <img class="icon" src="../images/applications_block-2.png" alt="">
            <img class="icon" src="../images/business_block-2.png" alt="">
        </div>
        <div class="description_block-2">
            <a class="description_development">Software development for microcontrollers</a>
            <a class="description_development">Software development for security systems</a>
            <a class="description_development">Creating applications for mobile devices and web-services</a>
            <a class="description_development">Automation of business processes</a>
        </div>
    </div>
    <div class="block-3" id="О_компании">
        <a class="title">About company</a>
        <div class="about_company">
            <img class="img4_block-3" src="../images/img4_block-3.png" alt=""/>
            <a class="text_company">IT Project is an advanced and innovative project in the field of information technologies, 
                which develops specialized software to solve complex and urgent tasks of the modern world. 
                Our team consists of professionals who are ready to offer fresh ideas and technologies to create high-quality 
                and reliable software products.</a>
        </div>
        <a class="title">Our advantages</a>
        <ul class="advantages_block-3">
            <li class="description_company">Experience and professionalism: Our team has been developing software for over 25 years.</li>
            <li class="description_company">Individual approach: We take into account the needs and features of each client.</li>
            <li class="description_company">Innovation: We offer our customers advanced software solutions.</li>
            <li class="description_company">Fast implementation of projects: We value your time.</li>
            <li class="description_company">Flexible and scalable: Our solutions can easily be adapted to the growth and development of your business.</li>
            <li class="description_company">Transparency and trust: We strive for open and honest cooperation with our customers.</li>
            <li class="description_company">Competitive prices: We offer innovative solutions at affordable prices.</li>
        </ul>
        <div class="slogan">
            <img class="img5_block-3" src="../images/img5_block-3.png" alt=""/>
            <a class="description_slogan">We strive to continuously improve our products and services, 
                so we are actively introducing modern methods of development, analysis and testing.</a>
        </div>
        <div class="two_button">
            <a href="#Контакты" class="button_zl2">Learn more</a>
            <a href="#Разработки" class="button_bzl">Developments</a>
        </div>
    </div>
    <a class="block-4" id="Разработки">Developments</a>
    <div class="card_avantguard">
        <img class="logo_avantruard" src="../images/logo_avantruard.png" alt=""/>
        <a class="title_avantguard">Avantguard</a>
        <a class="text_avantguard">A technological platform for collecting and analyzing information from various systems. 
            Avantguard is a unified system for controlling parameters from various automation and monitoring systems 
            (security, housing and utilities, smart home, etc.). The platform analyzes incoming data and informs about 
            the possibility of abnormal situations.</a><br><br>
            <div class="two_button">
                <a href="#avantguard" class="button_zl3">Learn more</a>
                <a href="https://lk.avantguard.pro/user/signin" class="button_link">On site</a>
            </div>
        </div>
    <div class="card_discrete_technologies">
            <img class="logo_discrete_technologies" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies">Discrete technologies</a>
        <a class="text_discrete_technologies">We are partners with Discrete Technologies and develop software for them. 
            Discrete Technologies develops and manufactures electronic systems in the field of automation of production 
            processes and small-scale production of industrial automation.</a>
            <div class="two_button">
                <a href="#discrete_technologies" class="button_zl3">Learn more</a>
                <a href="http://www.discret.ru" class="button_link">On site</a>
            </div>
    </div>
    <div class="block-5" id="block-5">
        <div>
            <img class="logo_avantruard1" src="../images/logo_avantruard.png" alt=""/>
            <a class="title_avantguard_description" id="avantguard">Avantguard</a>
        </div>
        <a class="title_avantguard_about">Features of implementation</a>
        <a class="text_avantguard_about">The technical platform automatically displays analytical data on mobile and stationary devices in the On-line mode, 
            followed by the possibility of responding in automatic or manual modes. The platform is deployed on one or more servers, 
            which can be both physical and virtual machines. The technological platform runs under the Astra Linux operating system. 
            Deployment and usage of the platform components with other Linux, FreeBSD and Windows distributions is possible. 
            The system architecture allows you to place individual services on different servers, which provides scalability and controlled distribution. 
            There is a mechanism of service redundancy, in case of unavailability of some resources the system automatically rebuilds information flows.</a>
        <a class="title_avantguard_about_effect">The practical effect of implementation</a>
        <ol>
            <li class="text_avantguard_about_effect">Ability to refuse panel protection services and pay only for the response.</li>
            <li class="text_avantguard_about_effect">The implementation of the platform allows you to get reliable information about what is happening at the site in real time, 
                thereby eliminating dependence on external contractors and own employees.</li>
            <li class="text_avantguard_about_effect">The ability to remotely access, respond to, manage and analyze information from anywhere in the world where there is internet.</li>
            <li class="text_avantguard_about_effect">All equipment and access to the platform can be hosted on the Customer's premises or can be provided as a cloud service.</li>
            <li class="text_avantguard_about_effect">The equipment can be easily moved and connected at other sites.</li>
            <li class="text_avantguard_about_effect">Monitoring the status of equipment and systems connected to the technology platform.</li>
            <li class="text_avantguard_about_effect">Minimization of labor costs for maintenance and process support</li>
        </ol>
    </div>
    <div class="block-6" id="block-6">
        <div class="logos_discrete_technologies">
            <img class="logo_discrete_technologies1" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies_description" id="discrete_technologies">Discrete technologies</a>
        </div>
        <div class="about_discrete_technologies">
            <img class="img1_block-6" src="../images/img1_block-6.png" alt=""/>
            <a class="text_about_discrete_technologies"><br>Integration of the IT Project and Discrete Technologies involves the collaborative development 
                of microcontroller software through close cooperation and knowledge sharing between the companies. 
                This process includes mutual understanding, testing, training and support to ensure successful project implementation.</a>
        </div>
        <div class="cards_discrete_technologies">
            <div class="card1_discrete_technologies">
                    <img class="img2_block-6" src="../images/img2_block-6.png" alt=""/>
                    <a class="card1_description_discrete_technologies">Automation of the generator stator winding machine</a>
            </div>
            <div class="card2_discrete_technologies">
                    <img class="img3_block-6" src="../images/img3_block-6.png" alt=""/>
                    <a class="card2_description_discrete_technologies">Information display with HMI interface</a>
            </div>
            <div class="card3_discrete_technologies">
                    <img class="img4_block-6" src="../images/img4_block-6.png" alt=""/>
                    <a class="card3_description_discrete_technologies">Central executive device</a>
            </div>
            <div class="card4_discrete_technologies">
                    <img class="img5_block-6" src="../images/img5_block-6.png" alt=""/>
                    <a class="card4_description_discrete_technologies">Non-contact switch MDR2-P0</a>
            </div>
            <div class="card5_discrete_technologies">
                    <img class="img6_block-6" src="../images/img6_block-6.png" alt=""/>
                    <a class="card5_description_discrete_technologies">Security communicators</a>
            </div>
            <div class="card6_discrete_technologies">
                    <img class="img7_block-6" src="../images/img7_block-6.png" alt=""/>
                    <a class="card6_description_discrete_technologies">Wi-Fi modem</a>
            </div>
        </div>
    </div>
    <div class="block-7">
        <div>
        <a class="title_contacts" id="Контакты">Contacts</a>
        <div class="our_office">
            <a class="title_our_office">Our office</a>
            <img class="logo_our_office" src="../images/logo_our_office.svg" alt=""/>
            <a class="description_our_office">170100, Tver, Andrei Dementieva St., 37</a>
        </div>
        <div class="phone_number">
            <a class="title_phone_number">Phone number</a>
            <img class="logo_phone_number" src="../images/logo_phone_number.svg" alt=""/>
            <a class="description1_phone_number">+7 (4822) 33-11-23</a>
            <a class="description2_phone_number">+7 (4822) 33-13-23</a>
        </div>
        <div class="e-mail">
            <a class="title_e-mail">E-Mail address</a>
            <img class="logo_e-mail" src="../images/logo_e-mail.svg" alt=""/>
            <a class="description_e-mail">info@proektit.ru</a>
        </div>
        </div>
        <div class="questions">
            <a class="title1_questions">Any other questions?</a>
            <a class="title2_questions">Submit us your contacts and our manager will contact you</a>
            <form action="send_mail.php" name="form" method="POST">
                <input type="text" id="name" name="name" class="name" placeholder="Name" data-reg="^[А-ЯЁ][а-яё]*$">
                <input type="text" id="phone" name="phone" class="number" placeholder="Phone" data-reg="^((\+7|7|8)+([0-9]){10})$">
                <input type="text" id="email" name="email" class="e-mail_address" placeholder="E-mail" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"> 
                <textarea name="message" class="comment" placeholder="Message"></textarea>
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                <button class="button_zl4" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit' data-action='submit'>Submit</button>
            </form>
        </div>
    </div>
    <div class="block-8" id="block-8">
        <div class="logotype_footer">
            <img src="../images/ITlogo.svg" alt="">
            <a class="title_logo">Project</a>
        </div>
        <div>
            <a class="contacts">Contacts</a>
            <a class="time">Working time: Пн-Птн 9:00-18:00</a>
            <a class="number1">+7 (4822) 33-11-23</a>
            <a class="number2">+7 (4822) 33-13-23</a>
            <a class="mail">info@proektit.ru</a>
            <a class="address">170100, Tver, Andrei Dementieva St., 37</a>
        <div class="menu_footer">
            <a href="#Главная" class="link_footer">Home</a>
            <a href="#Основные_направления" class="link_footer">Activity</a>
            <a href="#О_компании" class="link_footer">About</a>
            <a href="#Разработки" class="link_footer">Developments</a>
            <a href="#Контакты" class="link_footer">Contacts</a>
        </div>
    </div>
    </div>
    </div>
</body>
</html>