<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>ИТ Проект</title>
    <script defer src="https://www.google.com/recaptcha/api.js?render=6LcRbVImAAAAAAZUBfTdnatVxr1r1TkNrf4Q70Q8"></script>
    <script defer src="../assets/captcha.js"></script>
    <script defer src="../assets/app.js"></script>
    <link href="../static/static.css" rel="stylesheet" />
    <link rel="icon" href="../images/ITlogo.svg" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="header">
            <div class="logotype">
                <img src="../images/ITlogo.svg" alt="">
                <a href="#Главная" class="title_logo">Проект</a>
            </div>
            <ul class="menu">
                <li><a href="#Главная" class="link">Главная</a></li>
                <li><a href="#Основные_направления" class="link">Направления</a></li>
                <li><a href="#О_компании" class="link">О компании</a></li>
                <li><a href="#Разработки" class="link">Разработки</a></li>
                <li><a href="#Контакты" class="link">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
    <div class="block-1" id="Главная">
        <div>
            <p class="tagline">ИТ Проект: инновации и качество в мире программного обеспечения</p>
            <a href="#Контакты" class="button_zl">Подробнее</a>
        </div>
        <img class="img1_block-1" src="../images/img1_block-1.png" alt="">
    </div>
    <div class="block-2" id="Основные_направления">
        <a class="header_block-2">Основные направления</a>
        <div class="icons">
            <img class="icon" src="../images/controller_block-2.png" alt="">
            <img class="icon" src="../images/shield_block-2.png" alt="">
            <img class="icon" src="../images/applications_block-2.png" alt="">
            <img class="icon" src="../images/business_block-2.png" alt="">
        </div>
        <div class="description_block-2">
            <a class="description_development">Разработка программного обеспечения для микро-контроллеров</a>
            <a class="description_development">Разработка программного обеспечения для систем безопасности</a>
            <a class="description_development">Создание приложений для мобильных устройств и веб-сервисов</a>
            <a class="description_development">Автоматизации бизнес-процессов</a>
        </div>
    </div>
    <div class="block-3" id="О_компании">
        <div>
            <img class="img1_block-3" src="../images/img1_block-3.png" alt=""/>
        </div>
        <div>
            <img class="img2_block-3" src="../images/img2_block-3.png" alt=""/>
        </div>
        <div>
            <img class="img3_block-3" src="../images/img3_block-3.png" alt=""/>
        </div>
        <a class="title">О компании</a>
        <div class="about_company">
            <img class="img4_block-3" src="../images/img4_block-3.png" alt=""/>
            <a class="text_company">ИТ Проект — это передовой и инновационный проект в области информационных технологий, 
                который занимается разработкой специализированного программного обеспечения для решения сложных и актуальных задач современного мира. 
                Наша команда состоит из опытных профессионалов, которые готовы предложить свежие идеи и технологии для создания высококачественных и надёжных программных продуктов.</a>
        </div>
        <a class="title">Наши преимущества</a>
        <ul class="advantages_block-3">
            <li class="description_company">Опыт и профессионализм: Наша команда разрабатывает программное обеспечение уже более 25 лет.</li>
            <li class="description_company">Индивидуальный подход: Мы учитываем потребности и особенности каждого клиента.</li>
            <li class="description_company">Инновационность: Мы предлагаем нашим клиентам передовые решения в области программного обеспечения.</li>
            <li class="description_company">Быстрая реализация проектов: Мы ценим ваше время.</li>
            <li class="description_company">Гибкость и масштабируемость: Наши решения легко адаптируются под рост и развитие вашего бизнеса.</li>
            <li class="description_company">Прозрачность и доверие: Мы стремимся к открытому и честному сотрудничеству с нашими клиентами.</li>
            <li class="description_company">Конкурентоспособные цены: Мы предлагаем инновационные решения по доступным ценам.</li>
        </ul>
        <div class="slogan">
            <img class="img5_block-3" src="../images/img5_block-3.png" alt=""/>
            <a class="description_slogan">Мы стремимся к постоянному совершенствованию наших продуктов и услуг, 
                поэтому активно внедряем современные методы разработки, анализа и тестирования.</a>
        </div>
        <div class="two_button">
            <a href="#Контакты" class="button_zl2">Подробнее</a>
            <a href="#Разработки" class="button_bzl">Разработки</a>
        </div>
    </div>
    <a class="block-4" id="Разработки">Разработки</a>
    <div class="card_avantguard">
        <img class="logo_avantruard" src="../images/logo_avantruard.png" alt=""/>
        <a class="title_avantguard">Avantguard</a>
        <a class="text_avantguard">Технологическая платформа для сбора и анализа информации различных систем. 
            Avantguard представляет собой единую систему контроля параметров от различных систем автоматизации и мониторинга (безопасность, ЖКХ, умный дом и тд.). 
            Платформа анализирует поступающие данные и информирует о возможности возникновения нештатных ситуаций.</a>
            <div class="two_button">
                <a href="#avantguard" class="button_zl3">Подробнее</a>
                <a href="https://lk.avantguard.pro/user/signin" class="button_link">На сайт</a>
            </div>
        </div>
    <div class="card_discrete_technologies">
            <img class="logo_discrete_technologies" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies">Дискретные технологии</a>
        <a class="text_discrete_technologies">Мы являемся партнерами Дискретных технологий и разрабатываем для них ПО.
            Дискретные технологии занимаются разработкой и производством электронных систем в сфере автоматизации производственных процессов 
            и мелкосерийного производства промышленной автоматики.</a>
            <div class="two_button">
                <a href="#discrete_technologies" class="button_zl3">Подробнее</a>
                <a href="http://www.discret.ru" class="button_link">На сайт</a>
            </div>
    </div>
    <div class="block-5" id="block-5">
        <div>
            <img class="logo_avantruard1" src="../images/logo_avantruard.png" alt=""/>
            <a class="title_avantguard_description" id="avantguard">Avantguard</a>
        </div>
        <a class="title_avantguard_about">Ососбенности реализации</a>
        <a class="text_avantguard_about">Техническая платформа в режиме On-line автоматически выводит аналитические данные на мобильные и стационарные устройства 
                с последующим предоставлением возможности реагирования в автоматическом или ручном режимах. Платформа развёртывается на одном или нескольких серверах, 
                в качестве которых могут выступать как физические, так и виртуальные машины. Технологическая платформа работает под управлением операционной системы Astra Linux. 
                Возможно развертывание и использование компонентов платформы с использованием других дистрибутивов Linux, FreeBSD, Windows. Архитектура системы позволяет размещать 
                отдельные сервисы на различных серверах, что обеспечивает масштабируемость, контролируемое распределение вычислительной нагрузки и загрузки сетевых интерфейсов. 
                Предусмотрен механизм резервирования сервисов, когда в случае недоступности отдельных ресурсов система автоматически перестраивает информационные потоки.</a>
        <a class="title_avantguard_about_effect">Практический эффект от внедрения</a>
        <ol>
            <li class="text_avantguard_about_effect">Возможность отказаться от услуг пультовой охраны и платить только за реагирование.</li>
            <li class="text_avantguard_about_effect">Внедрение платформы позволяет получать достоверную информацию о происходящем на объекте в режиме реального времени, 
                тем самым исключая зависимость от внешних контрагентов и собственных сотрудников.</li>
            <li class="text_avantguard_about_effect">Возможность удалённого доступа к информации, реагирования на неё, управления и анализа из любой части мира, где есть интернет.</li>
            <li class="text_avantguard_about_effect">Все оборудование и доступ к платформе могут быть размещены как на территории Заказчика, так и может предоставляться в виде облачного сервиса.</li>
            <li class="text_avantguard_about_effect">Оборудование можно легко переносить и подключать на других объектах.</li>
            <li class="text_avantguard_about_effect">Контроль статуса работоспособности оборудования и систем подключённых к технологической платформе.</li>
            <li class="text_avantguard_about_effect">Минимизация трудозатрат на обслуживании и поддержании процесса.</li>
        </ol>
    </div>
    <div class="block-6" id="block-6">
        <div class="logos_discrete_technologies">
            <img class="logo_discrete_technologies1" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies_description" id="discrete_technologies">Дискретные технологии</a>
        </div>
        <div class="about_discrete_technologies">
            <img class="img1_block-6" src="../images/img1_block-6.png" alt=""/>
            <a class="text_about_discrete_technologies">Интеграция ИТ Проекта и Дискретных технологий предполагает совместную разработку программного обеспечения для микроконтроллеров с помощью тесного сотрудничества и обмена знаниями между компаниями. Этот процесс включает в себя взаимопонимание, тестирование, обучение и поддержку для обеспечения успешной реализации проекта.</a>
        </div>
        <div class="cards_discrete_technologies">
            <div class="card1_discrete_technologies">
                    <img class="img2_block-6" src="../images/img2_block-6.png" alt=""/>
                    <a class="card1_description_discrete_technologies">Автоматика управления станком намотки статора генератора</a>
            </div>
            <div class="card2_discrete_technologies">
                    <img class="img3_block-6" src="../images/img3_block-6.png" alt=""/>
                    <a class="card2_description_discrete_technologies">Информационное табло с HMI интерфейсом</a>
            </div>
            <div class="card3_discrete_technologies">
                    <img class="img4_block-6" src="../images/img4_block-6.png" alt=""/>
                    <a class="card3_description_discrete_technologies">Центральное исполнительное устройство</a>
            </div>
            <div class="card4_discrete_technologies">
                    <img class="img5_block-6" src="../images/img5_block-6.png" alt=""/>
                    <a class="card4_description_discrete_technologies">Бесконтактный выключатель MDR2-P0</a>
            </div>
            <div class="card5_discrete_technologies">
                    <img class="img6_block-6" src="../images/img6_block-6.png" alt=""/>
                    <a class="card5_description_discrete_technologies">Коммуникаторы систем безопасности</a>
            </div>
            <div class="card6_discrete_technologies">
                    <img class="img7_block-6" src="../images/img7_block-6.png" alt=""/>
                    <a class="card6_description_discrete_technologies">Wi-Fi модем</a>
            </div>
        </div>
    </div>
    <div class="block-7">
        <div>
        <a class="title_contacts" id="Контакты">Контакты</a>
        <div class="our_office">
            <a class="title_our_office">Наш офис</a>
            <img class="logo_our_office" src="../images/logo_our_office.svg" alt=""/>
            <a class="description_our_office">170100, г. Тверь, ул. Андрея Дементьева, д. 37</a>
        </div>
        <div class="phone_number">
            <a class="title_phone_number">Номер телефона</a>
            <img class="logo_phone_number" src="../images/logo_phone_number.svg" alt=""/>
            <a class="description1_phone_number">+7 (4822) 33-11-23</a>
            <a class="description2_phone_number">+7 (4822) 33-13-23</a>
        </div>
        <div class="e-mail">
            <a class="title_e-mail">E-Mail адресс</a>
            <img class="logo_e-mail" src="../images/logo_e-mail.svg" alt=""/>
            <a class="description_e-mail">dssi@proektit.ru</a>
        </div>
        </div>
        <div class="questions">
            <a class="title1_questions">Остались вопросы?</a>
            <a class="title2_questions">Оставьте свои контакты и наш менеджер свяжется с Вами</a>
            <form action="send_mail.php" name="form" method="POST">
                <input type="text" id="name" name="name" class="name" placeholder="Ваше имя" data-reg="^[А-ЯЁ][а-яё]*$">
                <input type="text" id="phone" name="phone" class="number" placeholder="Ваш телефон" data-reg="^((\+7|7|8)+([0-9]){10})$">
                <input type="text" id="email" name="email" class="e-mail_address" placeholder="Ваш e-mail" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"> 
                <textarea name="message" class="comment" placeholder="Ваше сообщение:"></textarea>
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                <button class="button_zl4" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit' data-action='submit'>Отправить</button>
            </form>
        </div>
    </div>
    </div>
    <div class="block-8" id="block-8">
        <div class="logotype_footer">
            <img src="../images/ITlogo.svg" alt="">
            <a class="title_logo">Проект</a>
        </div>
        <div>
            <a class="contacts">Контакты</a>
            <a class="time">Время работы: Пн-Птн 9:00-18:00</a>
            <a class="number1">+7 (4822) 33-11-23</a>
            <a class="number2">+7 (4822) 33-13-23</a>
            <a class="mail">info@proektit.ru</a>
            <a class="address">170100, г. Тверь, ул. Андрея Дементьева, д. 37</a>
        <div class="menu_footer">
            <a href="#Главная" class="link_footer">Главная</a>
            <a href="#Основные_направления" class="link_footer">Направления</a>
            <a href="#О_компании" class="link_footer">О компании</a>
            <a href="#Разработки" class="link_footer">Разработки</a>
            <a href="#Контакты" class="link_footer">Контакты</a>
        </div>
    </div>
    </div>
</body>
</html>