<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТ Проект</title>
<link rel="stylesheet" href="/static/static.css"/>
</head>
<body>
    <header>
        <nav class="header">
            <div class="logotype">
                <img src="../images/ITlogo.svg" alt="">
                <a class="title_logo">Проект</a>
            </div>
            <ul class="menu">
                <li><a href="#block-1" class="link">Главная</a></li>
                <li><a href="#block-2" class="link">Направления</a></li>
                <li><a href="#block-3" class="link">О компании</a></li>
                <li><a href="#block-4" class="link">Разработки</a></li>
                <li><a href="#block-7" class="link">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="block-1" id="block-1">
        <div>
            <p class="tagline">ИТ Проект: инновации и качество в мире программного обеспечения</p>
            <a href="#block-7" class="button_zl">Подробнее</a>
        </div>
        <img class="img1_block-1" src="../images/img1_block-1.png" alt="">
    </div>
    <div class="block-2" id="block-2">
        <a class="header_block-2">Основные направления</a>
        <div class="icons">
            <img src="../images/controller_block-2.png" alt="">
            <img src="../images/shield_block-2.png" alt="">
            <img src="../images/applications_block-2.png" alt="">
            <img src="../images/business_block-2.png" alt="">
        </div>
        <div class="description_block-2">
            <a class="description_development">Разработка программного обеспечения для контроллеров</a>
            <a class="description_development">Разработка программного обеспечения для систем безопасности</a>
            <a class="description_development">Создание приложений для мобильных устройств и веб-сервисов</a>
            <a class="description_development">Автоматизации бизнес-процессов</a>
        </div>
    </div>
    <div class="block-3" id="block-3">
        <div>
            <img class="img1_block-3" src="../images/img1_block-3.png" alt=""/>
        </div>
        <div>
            <img class="img2_block-3" src="../images/img2_block-3.png" alt=""/>
        </div>
        <div>
            <img class="img3_block-3" src="../images/img3_block-3.png" alt=""/>
        </div>
        <a class="title">О компании</a>
        <div class="about_company">
            <img class="img4_block-3" src="../images/img4_block-3.png" alt=""/>
            <a class="text_company">ИТ Проект — это передовой и инновационный проект в области информационных технологий, который занимается разработкой специализированного программного обеспечения для решения сложных и актуальных задач современного мира. Наша команда состоит из опытных профессионалов, которые готовы предложить свежие идеи и технологии для создания высококачественных и надёжных программных продуктов.</a>
        </div>
        <a class="title">Наши преимущества</a>
        <ul class="advantages_block-3">
            <li class="description_company">Опыт и профессионализм: Наша компания на рынке разработки программного обеспечения уже более 25 лет.</li>
            <li class="description_company">Индивидуальный подход: Мы учитываем потребности и особенности каждого клиента.</li>
            <li class="description_company">Инновационность: Мы предлагаем нашим клиентам передовые решения в области программного обеспечения.</li>
            <li class="description_company">Быстрая реализация проектов: Мы ценим ваше время.</li>
            <li class="description_company">Гибкость и масштабируемость: Наши решения легко адаптируются под рост и развитие вашего бизнеса.</li>
            <li class="description_company">Прозрачность и доверие: Мы стремимся к открытому и честному сотрудничеству с нашими клиентами.</li>
            <li class="description_company">Конкурентоспособные цены: Мы предлагаем инновационные решения по доступным ценам.</li>
        </ul>
        <div class="slogan">
            <img class="img5_block-3" src="../images/img5_block-3.png" alt=""/>
            <a class="description_slogan">Мы стремимся к постоянному совершенствованию наших продуктов и услуг, 
                поэтому активно внедряем современные методы разработки, анализа и тестирования.</a>
        </div>
        <div class="two_button">
            <a href="#block-7" class="button_zl2">Подробнее</a>
            <a href="#block-4" class="button_bzl">Разработки</a>
        </div>
    </div>
    <a class="block-4" id="block-4">Разработки</a>
    <div class="card_avantguard">
        <img class="logo_avantruard" src="../images/logo_avantruard.png" alt=""/>
        <a class="title_avantguard">Avantguard</a>
        <a class="text_avantguard">Технологическая платформа для сбора и анализа информации различных систем. Avantguard представляет собой объединение средств сигнализации и иных средств безопасности. 
            Цель технологической платформы создать единую систему контроля за работоспособностью технических средств безопасности.</a>
            <div class="two_button">
                <a href="#avantguard" class="button_zl3">Подробнее</a>
                <a href="https://lk.avantguard.pro/user/signin" class="button_link">На сайт</a>
            </div>
        </div>
    <div class="card_discrete_technologies">
            <img class="logo_discrete_technologies" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies">Дискретные технологии</a>
        <a class="text_discrete_technologies">Мы сотрудничаем с коимпанией Дискретные технологии и разрабатываем для них ПО.
            Дискретные технологии занимаются разработкой и производством электронных систем в сфере автоматизации производственных процессов и мелкосерийного производства промышленной автоматики.</a>
            <div class="two_button">
                <a href="#discrete_technologies" class="button_zl3">Подробнее</a>
                <a href="http://www.discret.ru" class="button_link">На сайт</a>
            </div>
    </div>
    <div class="block-5" id="block-5">
        <div>
            <img class="logo_avantruard1" src="../images/logo_avantruard.png" alt=""/>
            <a class="title_avantguard_description" id="avantguard">Avantguard</a>
        </div>
            <a class="title_avantguard_about">Ососбенности реализации</a>
            <a class="text_avantguard_about">Платформа развёртывается на одном или нескольких серверах, в качестве которых могут выступать как физические, 
                так и виртуальные машины. Предпочтительная операционная система — Debian Linux, но возможна установка компонентов на дистрибутивах 
                Linux, FreeBSD, Windows. Архитектура системы позволяет размещать отдельные сервисы на различных серверах, что обеспечивает масштабируемость, 
                контролируемое распределение вычислительной нагрузки и загрузки сетевых интерфейсов. Предусмотрен механизм резервирования сервисов, 
                когда в случае недоступности отдельных ресурсов система автоматически перестраивает информационные потоки.</a>
            <a class="title_avantguard_about_effect">Практический эффект от внедрения</a>
            <div class="description_avantguard_about_effect">
                <ol>
                    <li class="text_avantguard_about_effect">Возможность отказаться от услуг пультовой охраны и платить только за реагирование.</li>
                    <li class="text_avantguard_about_effect">Внедрение платформы позволяет получать достоверную информацию о происходящем на объекте в режиме реального времени, 
                        тем самым исключая зависимость от внешних контрагентов и собственных сотрудников.</li>
                    <li class="text_avantguard_about_effect">Возможность удалённого доступа к информации, реагирования на неё, управления и анализа из любой части мира, где есть интернет.</li>
                    <li class="text_avantguard_about_effect">Все оборудование и доступ к платформе могут быть размещены как на территории Заказчика, так и может предоставляться в виде облачного сервиса.</li>
                    <li class="text_avantguard_about_effect">Оборудование можно легко переносить и подключать на других объектах.</li>
                    <li class="text_avantguard_about_effect">Контроль статуса работоспособности оборудования и систем подключённых к технологической платформе.</li>
                    <li class="text_avantguard_about_effect">Минимизация трудозатрат на обслуживании и поддержании процесса.</li>
                </ol>
            </div>
    </div>
    <div class="block-6" id="block-6">
        <div>
            <img class="logo_discrete_technologies1" src="../images/logo_discrete_technologies.png" alt=""/>
            <a class="title_discrete_technologies_description" id="discrete_technologies">Дискретные технологии</a>
        </div>
        <div class="about_discrete_technologies">
            <img class="img1_block-6" src="../images/img1_block-6.png" alt=""/>
            <a class="text_about_discrete_technologies">Интеграция ИТ Проекта и Дискретных технологий предполагает совместную разработку программного обеспечения для микроконтроллеров с помощью тесного сотрудничества и обмена знаниями между компаниями. Этот процесс включает в себя взаимопонимание, тестирование, обучение и поддержку для обеспечения успешной реализации проекта.</a>
        </div>
        <div class="cards_discrete_technologies">
            <div class="card1_discrete_technologies">
                    <img class="img2_block-6" src="../images/img2_block-6.png" alt=""/>
                    <a class="card1_description_discrete_technologies">Автоматика управления станком намотки статора генератора</a>
            </div>
            <div class="card2_discrete_technologies">
                    <img class="img3_block-6" src="../images/img3_block-6.png" alt=""/>
                    <a class="card2_description_discrete_technologies">Информационное табло с HMI интерфейсом</a>
            </div>
            <div class="card3_discrete_technologies">
                    <img class="img4_block-6" src="../images/img4_block-6.png" alt=""/>
                    <a class="card3_description_discrete_technologies">Центральное исполнительное устройство</a>
            </div>
            <div class="card4_discrete_technologies">
                    <img class="img5_block-6" src="../images/img5_block-6.png" alt=""/>
                    <a class="card4_description_discrete_technologies">Бесконтактный выключатель MDR2-P0</a>
            </div>
            <div class="card5_discrete_technologies">
                    <img class="img6_block-6" src="../images/img6_block-6.png" alt=""/>
                    <a class="card5_description_discrete_technologies">Коммуникаторы систем безопасности</a>
            </div>
            <div class="card6_discrete_technologies">
                    <img class="img7_block-6" src="../images/img7_block-6.png" alt=""/>
                    <a class="card6_description_discrete_technologies">Wi-Fi модем</a>
            </div>
        </div>
    </div>
    <div class="block-7" id="block-7">
        <a class="title_contacts">Контакты</a>
        <div class="our_office">
            <a class="title_our_office">Наш офис</a>
            <img class="logo_our_office" src="../images/logo_our_office.svg" alt=""/>
            <a class="description_our_office">170100, г. Тверь, ул. Андрея Дементьева, д. 37</a>
        </div>
        <div class="phone_number">
            <a class="title_phone_number">Номер телефона</a>
            <img class="logo_phone_number" src="../images/logo_phone_number.svg" alt=""/>
            <a class="description1_phone_number">+7 (4822) 33-11-23</a>
            <a class="description2_phone_number">+7 (4822) 33-13-23</a>
        </div>
        <div class="e-mail">
            <a class="title_e-mail">E-Mail адресс</a>
            <img class="logo_e-mail" src="../images/logo_e-mail.svg" alt=""/>
            <a class="description_e-mail">help@bastion.tver.ru</a>
        </div>
        <div class="questions">
            <a class="title1_questions">Остались вопросы?</a>
            <a class="title2_questions">Оставьте свои контакты и наш менеджер свяжется с Вами</a>
            <input type="text" placeholder="Ваше имя" class="name">
            <input type="text" placeholder="Ваш e-mail" class="e-mail_address">
            <input type="text" placeholder="Ваш номер телефона" class="number">
            <input type="text" placeholder="Ваш комментарий" class="comment">
            <a href="https://shop1.bastion-tver.ru/sample-page/" class="button_zl4">Отправить</a>
        </div>
    </div>
    <div class="block-8" id="block-8">
        <div class="logotype_footer">
            <img src="../images/ITlogo.svg" alt="">
            <a class="title_logo">Проект</a>
        </div>
        <div>
            <a class="contacts">Контакты</a>
            <a class="time">Время работы: Пн-Птн 9:00-18:00</a>
            <a class="number1">+7 (4822) 33-11-23</a>
            <a class="number2">+7 (4822) 33-13-23</a>
            <a class="mail">help@bastion.tver.ru</a>
            <a class="address">170100, г. Тверь, ул. Андрея Дементьева, д. 37</a>
        <div class="menu_footer">
            <a href="#block-1" class="link_footer">Главная</a>
            <a href="#block-2" class="link_footer">Направления</a>
            <a href="#block-3" class="link_footer">О компании</a>
            <a href="#block-4" class="link_footer">Разработки</a>
            <a href="#block-7" class="link_footer">Контакты</a>
        </div>
    </div>
    </div>
</body>
</html>