<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/icon.svg" />
    <link href="../static/static.css" rel="stylesheet" />
    <title>Настройки</title>
</head>
<body>
    <div class="wrapper">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <div class="block_status">
                    <div class="block_icon_status">
                        <a href="access-point.html"><img class="icon_status" src="../images/access-point.svg" title="Точка доступа" alt=""></a>
                    </div>
                    <div class="block_icon_status">
                        <a href="wi-fi.html"><img class="icon_status" src="../images/wi-fi.svg" title="Wi-FI" alt=""></a>
                    </div>
                    <div class="block_icon_status">
                        <a href="ethernet.html"><img class="icon_status" src="../images/ethernet.svg" title="Ethernet" alt=""></a>
                    </div>
                </div>
                <li><img class="icon_settings" src="../images/home.svg" alt=""><a href="../index.html" class="title_menu">Главная</a></li>
                <li><img class="icon_settings" src="../images/settings.svg" alt=""><a href="settings.html" class="title_menu">Настройки</a></li>
            </ul>
        </div>
        <div class="container_menu">
            <div class="block_menu">
                <div class="point_menu">
                    <a href="../index.html"><img class="icon_settings" src="../images/home.svg" alt=""></a>
                    <a href="../index.html" class="title_menu_main">Главная</a>
                </div>
                <div class="point_menu">
                    <a href="settings.html"><img class="icon_settings" src="../images/settings.svg" alt=""></a>
                    <a href="settings.html" class="title_menu_main">Настройки</a>
                </div>
            </div>
        </div>
        <div class="container_settings_ms wrapper_is">
            <div class="header_body">
                <div class="header_logo">
                    <img class="logo" src="../images/logo_w.svg" alt="">
                </div>
            </div>
            <div class="block_status_main_is">
                <div class="block_icon_status">
                    <div class="tooltip_status"><a href="access-point.html"><img class="icon_status" src="../images/access-point.svg" alt=""></a>
                        <span class="tooltiptext_status"><span id="ip_conn" style="color: rgb(112, 112, 150);">-</span></span>
                    </div>
                </div>
                <div class="block_icon_status">
                    <div class="tooltip_status"><a href="wi-fi.html"><img class="icon_status" src="../images/wi-fi.svg" title="Wi-FI" alt=""></a>
                        <span class="tooltiptext_status"><span id="ip_conn" style="color: rgb(112, 112, 150);">-</span></span>
                    </div>
                </div>
                <div class="block_icon_status">
                    <div class="tooltip_status"><a href="ethernet.html"><img class="icon_status" src="../images/ethernet.svg" title="Ethernet" alt=""></a>
                        <span class="tooltiptext_status"><span id="ip_conn" style="color: rgb(112, 112, 150);">-</span></span>
                    </div>
                </div>
            </div>
            <div class="main_title">
                <a class="main_title_text">Настройка сети</a>
            </div>
            <div class="container">
                <div class="block_settings_index">
                    <a href="access-point.html"><img class="icon_settings" src="../images/access-point.svg" alt=""></a>
                    <a href="access-point.html" class="title-settings">Точка доступа</a>
                </div>
                <div class="seporator"></div>
                <div class="block_settings_index">
                    <a href="wi-fi.html"><img class="icon_settings" src="../images/wi-fi.svg" alt=""></a>
                    <a href="wi-fi.html" class="title-settings">Wi-Fi</a>
                </div>
                <div class="seporator"></div>
                <div class="block_settings_index">
                    <a href="ethernet.html"><img class="icon_settings" src="../images/ethernet.svg" alt=""></a>
                    <a href="ethernet.html" class="title-settings">Ethernet</a>
                </div>
            </div>
            <div class="main_title" style="margin-top: 25px;">
                <a class="main_title_text">Настройки устройства</a>
            </div>
            <div class="container">
                <div class="block_settings_index">
                    <a href="settings_ats.html"><img class="icon_settings" src="../images/switch.svg" alt=""></a>
                    <a href="settings_ats.html" class="title-settings">Настройка АВР</a>
                </div>
                <div class="seporator"></div>
                <div class="block_settings_index">
                    <a href="firmware.html"><img class="icon_settings" src="../images/processor.svg" alt=""></a>
                    <a href="firmware.html" class="title-settings">Прошивка</a>
                </div>
                <div class="seporator"></div>
                <div class="block_settings_index">
                    <a href="debugging.html"><img class="icon_settings" src="../images/debugging.svg" alt=""></a>
                    <a href="debugging.html" class="title-settings">Отладка</a>
                </div>
            </div>
        </div>
    </div>
</body>