<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="../images/icon.svg" />
    <link href="../static/static.css" rel="stylesheet" />
    <title>От застройщика</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="../index.html" class="header_link">Главная</a></li>
                        <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                        <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                        <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                        <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                    </ul>
                </nav>
                <div style="z-index: 2;">
                    <div class="header_block_contacts">
                        <img src="../images/phone.svg" alt="">
                        <a class="header_contact">89201670373</a>
                    </div>
                    <div class="header_block_contacts">
                        <img src="../images/mail.svg" alt="">
                        <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                    </div>
                </div>
            </header>
            <div class="property_block_main">
                <div class="block_main_title">
                    <a class="title">О недвижимости</a>
                    <a class="text">
                        <strong>Дата сдачи - декабрь 2023 г.</strong>
                    </a>
                    <a class="text wrapper_text">
                        Таунхаус расположен по адресу: Калининский район,<br> д. Палкино, ул. Александровская, д. 41, д. 41/1, д. 41/2,<br> д. 41/3, д. 41/4, д. 41/5, д. 41/6, д. 41/7.
                    </a>
                </div>
            </div>
            <div class="main_block_about_project">
                <div class="block_about_taun">
                    <a class="title">Описание конструктивных элементов</a>
                    <a class="text wrapper_text">
                        <strong>Фундамент: </strong>монолитная ж/б плита.<br>
                        <strong>Наружные стены: </strong>газосиликат толщиной 400 мм, <strong>облицовка</strong> - силикатный кирпич с вставками из керамического кирпича.<br>
                        <strong>Перекрытия: </strong><strong>1 этаж </strong>- железобетонные плиты, <strong>2 этаж</strong> – деревянные утепленные (толщина утеплителя – 200 мм).<br>
                        <strong>Перегородки: </strong>силикатный кирпич.<br>
                        <strong>Кровля: </strong>гибкая черепица.<br>
                        <strong>Заполнение оконных проемов: </strong>KBE-Master 70 мм коричневый дуб.<br>
                    </a>
                </div>
                <div class="main_block_pic">
                    <div class="container_pic">
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img src="../images/prop_pic_1.png" style="width:70%">
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img src="../images/prop_pic_2.png" style="width:70%">
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img src="../images/prop_pic_3.png" style="width:70%">
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img src="../images/prop_pic_4.png" style="width:70%">
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img src="../images/prop_pic_5.png" style="width:70%">
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img src="../images/prop_pic_6.png" style="width:70%">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                        <div class="row">
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_1.png" style="width:100%" onclick="currentSlide(1)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_2.png" style="width:100%" onclick="currentSlide(2)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_3.png" style="width:100%" onclick="currentSlide(3)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_4.png" style="width:100%" onclick="currentSlide(4)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_5.png" style="width:100%" onclick="currentSlide(5)">
                            </div>    
                            <div class="column">
                                <img class="demo cursor" src="../images/prop_pic_6.png" style="width:100%" onclick="currentSlide(6)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_block_about_project">
                <div class="block_about_taun">
                    <a class="title">Выполнены элементы благоустройства</a>
                    <a class="text wrapper_text">
                        <strong>Парковочная зона</strong> на 2 автомобиля (тип покрытия – брусчатка).<br>
                        <strong>Пешеходные зоны</strong> (тип покрытия – брусчатка).<br>
                        <strong>Зеленая зона</strong> (тип покрытия – земля плодородная).<br>
                        Территория огорожена забором из профилированного листа, смежные участки разграничены забором из металлического евроштакетника.<br>
                        Территория имеет освещение в темное время суток.<br>
                    </a>
                </div>
                <div class="main_block_pic">
                    <div class="container_pic">
                        <div class="mySlidesS">
                            <div class="numbertext">1 / 6</div>
                            <img src="../images/prop_pic_7.png" style="width:70%">
                        </div>
                        <div class="mySlidesS">
                            <div class="numbertext">2 / 6</div>
                            <img src="../images/prop_pic_8.png" style="width:70%">
                        </div>
                        <div class="mySlidesS">
                            <div class="numbertext">3 / 6</div>
                            <img src="../images/prop_pic_9.png" style="width:70%">
                        </div>
                        <div class="mySlidesS">
                            <div class="numbertext">4 / 6</div>
                            <img src="../images/prop_pic_10.png" style="width:70%">
                        </div>
                        <div class="mySlidesS">
                            <div class="numbertext">5 / 6</div>
                            <img src="../images/prop_pic_11.png" style="width:70%">
                        </div>
                        <div class="mySlidesS">
                            <div class="numbertext">6 / 6</div>
                            <img src="../images/prop_pic_12.png" style="width:70%">
                        </div>
                        <a class="prev" onclick="plusSlidesS(-1)">❮</a>
                        <a class="next" onclick="plusSlidesS(1)">❯</a>
                        <div class="row">
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_7.png" style="width:100%" onclick="currentSlideS(1)">
                            </div>
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_8.png" style="width:100%" onclick="currentSlideS(2)">
                            </div>
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_9.png" style="width:100%" onclick="currentSlideS(3)">
                            </div>
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_10.png" style="width:100%" onclick="currentSlideS(4)">
                            </div>
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_11.png" style="width:100%" onclick="currentSlideS(5)">
                            </div>
                            <div class="column">
                                <img class="demoS cursor" src="../images/prop_pic_12.png" style="width:100%" onclick="currentSlideS(5)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_block_about_project">
                <div class="block_about_taun">
                    <a class="title">Инженерные коммуникации</a>
                    <a class="text wrapper_text">
                        <strong>Электричество</strong> - разрешенная мощность - 15 кВт, на каждую блок-секцию (лицевые счета получены).<br>
                        Приборы учета установлены на каждую блок-секцию.<br>
                        <strong>Газоснабжение</strong> от сетей среднего давления, с установкой пункта редуцирования (лицевые счета получены).<br>
                        <strong>Отопление</strong> котел двухконтурный NAVIEN ATMO- 16 AN (производство-Южная Корея).<br>
                        <strong>Водоснабжение</strong> скважина глубиной 22,0-24,0 м на каждую блок-секцию.<br>
                        <strong>Канализация:</strong> на каждую блок-секцию установлена станция глубокой очистки сточных вод «АЭРОН-Био» модель АБ-5R (2,34) ун
                    </a>
                </div>
            </div>
            <div class="main_block_about_project">
                <div class="block_about_taun">
                    <a class="title">Расположение и инфраструктура</a>
                </div>
                <div class="main_block_pic">
                        <div class="block_location">
                            <img src="../images/location_1.png" alt="" class="img_location" style="width: 85%;">
                            <img src="../images/location_2.png" alt="" class="img_location">
                            <img src="../images/location_3.png" alt="" class="img_location" style="width: 115%;">
                            <img src="../images/location_4.png" alt="" class="img_location" style="width: 95%;">
                            <img src="../images/location_5.png" alt="" class="img_location">
                        </div>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae5b2b2fe9d67bb784140d520bb28b233deae87ce9909a0adc462131d9962aff7&amp;width=600&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <footer>
                <div class="main_block_footer">
                    <a class="title">Таунхаус от застройщика</a>
                </div>
                <div class="block_footer_wrapper">
                    <div class="block_footer">
                        <nav class="footer_menu">
                            <ul class="footer_list">
                                <li><a href="../index.html" class="header_link">Главная</a></li>
                                <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                                <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                                <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                                <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                            </ul>
                        </nav>
                        <div>
                            <a class="text">
                                <strong>Адрес: </strong>г.Тверь, Бизнес-центр Plaza, Свободный пер., д. 9, оф. 601
                            </a>
                            <div style="margin-top: 10px;">
                                <div class="header_block_contacts">
                                    <img src="../images/phone.svg" alt="">
                                    <a class="header_contact">89201670373</a>
                                </div>
                                <div class="header_block_contacts">
                                    <img src="../images/mail.svg" alt="">
                                    <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../images/contacts_pic.png" alt="">
                </div>
            </footer>
        </div>
    </div>
</body>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "flex";
        slides[slideIndex-1].style.justifyContent = "center";
        dots[slideIndex-1].className += " active";
    }

    var slideIndex = 1;
    showSlidesS(slideIndex);
    function plusSlidesS(n) {
        showSlidesS(slideIndex += n);
    }
    function currentSlideS(n) {
        showSlidesS(slideIndex = n);
    }
    function showSlidesS(n) {
        var i;
        var slides = document.getElementsByClassName("mySlidesS");
        var dots = document.getElementsByClassName("demoS");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "flex";
        slides[slideIndex-1].style.justifyContent = "center";
        dots[slideIndex-1].className += " active";
    }
    </script>
</html>