<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="../images/icon.svg" />
    <link href="../static/static.css" rel="stylesheet" />
    <title>От застройщика</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="../index.html" class="header_link">Главная</a></li>
                        <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                        <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                        <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                        <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                    </ul>
                </nav>
                <div style="z-index: 2;">
                    <div class="header_block_contacts">
                        <img src="../images/phone.svg" alt="">
                        <a class="header_contact">89201670373</a>
                    </div>
                    <div class="header_block_contacts">
                        <img src="../images/mail.svg" alt="">
                        <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                    </div>
                </div>
            </header>
            <div class="main_block_about_project">
                <a class="title">Выбрать секцию</a>
                <div class="main_block_sections">
                    <div class="block_sections" onclick="window.location='../templates/section_1.html';">
                        <a class="text section_num">1</a>
                        <img src="../images/section_1_1.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_2.html';">
                        <a class="text section_num">2</a>
                        <img src="../images/section_1_2.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_3.html';">
                        <a class="text section_num">3</a>
                        <img src="../images/section_1_3.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_4.html';">
                        <a class="text section_num">4</a>
                        <img src="../images/section_1_2.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_5.html';">
                        <a class="text section_num">5</a>
                        <img src="../images/section_1_3.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_6.html';">
                        <a class="text section_num">6</a>
                        <img src="../images/section_1_2.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_7.html';">
                        <a class="text section_num">7</a>
                        <img src="../images/section_1_3.png" alt="" class="section_img">
                    </div>
                    <div class="block_sections" onclick="window.location='../templates/section_8.html';">
                        <a class="text section_num">8</a>
                        <img src="../images/section_1_4.png" alt="" class="section_img">
                    </div>
                </div>
            </div>
            <footer>
                <div class="main_block_footer">
                    <a class="title">Таунхаус от застройщика</a>
                </div>
                <div class="block_footer_wrapper">
                    <div class="block_footer">
                        <nav class="footer_menu">
                            <ul class="footer_list">
                                <li><a href="../index.html" class="header_link">Главная</a></li>
                                <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                                <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                                <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                                <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                            </ul>
                        </nav>
                        <div>
                            <a class="text">
                                <strong>Адрес: </strong>г.Тверь, Бизнес-центр Plaza, Свободный пер., д. 9, оф. 601
                            </a>
                            <div style="margin-top: 10px;">
                                <div class="header_block_contacts">
                                    <img src="../images/phone.svg" alt="">
                                    <a class="header_contact">89201670373</a>
                                </div>
                                <div class="header_block_contacts">
                                    <img src="../images/mail.svg" alt="">
                                    <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../images/contacts_pic.png" alt="">
                </div>
            </footer>
        </div>
    </div>
</body>
</html>