*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    background: #17181F;
    display: flex; 
    justify-content: space-evenly;
    margin: 0px auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
}

.header_logo{
    display: flex;
    position: relative;
    z-index: 3;
}

.logo{
    max-width: 100%;
    padding-top: 5px;
}

.header_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    text-decoration: none;
}

.wi-fi_settings{
    display:none;
}

.wi-fi_settings.show{
    display: block;
}

.routing{
    display:none;
}

.routing.show{
    display: block;
}

.routing_eth{
    display:none;
}

.routing_eth.show{
    display: block;
}

.container{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.ping-box {
    display: flex;
    flex-wrap: wrap;
}

.block_wi-fi_settings,.ethernet, .upload, .update{
    margin-left: 100px;
    margin-top: 30px;
}

.maintbl{
    color: #878787;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 15px;
}

h1{
    font-size: 16px;
    margin:0 0 5px 0;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #ffffff;
}

h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

td {
    border: solid 1px #c7c7c7;
    border-style: none solid solid none;
    padding: 10px;
}

tr:first-child td:first-child { border-top-left-radius: 7px; }
tr:first-child td:last-child { border-top-right-radius: 7px; }

tr:last-child td:first-child { border-bottom-left-radius: 7px; }
tr:last-child td:last-child { border-bottom-right-radius: 7px; }

tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }

.btn {
    display: inline-block;
    padding: 13px;
	background: #0099ff;
	color: #fff;
	cursor: pointer;
    border-radius: 7px;
    transition: .5s;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 10px;
}

.btn:hover {
    background: #5cbeff;
}

.btnred {
    display: inline-block;
    padding: 10px;
    background: #9c0404;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    transition: .5s;
}

.btnred:hover {
    background: #ff5c5c;
}

.btn_update{
    margin-left: 28px;
    margin-right: 28px;
}

.btn_send{
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
}

.btn_save{
    margin-left: 140px;
    margin-bottom: 30px;
    color: #fff;
}

#getTemp{
    padding: 4px;
    margin-left: 8px;
    background: #0066ff;
    color: #fff;
    border-radius: 10px;
    font-size: 8pt;
}

/*ROMAN'S CSS*/

select{
    background: #ffffff;
    border: 1px solid #a3a3a3;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    margin: 10px 0;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #ffffff;
}

#file-input,
input {
	border-radius: 7px;
	margin: 10px auto;
}

input[type=submit]{
    border: none;
}

input {
    background: #ffffff;
    border: 1px solid #a3a3a3;
	padding: 7px
}

input[type=text]{
    width: 93%;
}

#file-input {
	padding: 13px;
	border: 1px solid #ddd;
	display: block;
	cursor: pointer;
}

#bar,
#prgbar {
	background-color: #fff;
	border-radius: 10px
}

#bar {
	background-color: #3498db;
	width: 0%;
	height: 10px
}

#result {
    width: 300px;
    height: 270px;
}

/* Modal Windows Evgeny G. */
.redBtnNB {
    background: #ce2121;
    color: #ffffff;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.redBtnNB:hover {
    background: #ffffff;
    color: #ce2121;
}

.greenBtnNB {
    background: #179834;
    color: #ffffff;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.greenBtnNB:hover {
    background: #ffffff;
    color: #179834;
}

/* Modal Content */
#msgBox {
    display: none; 
    position: fixed; 
    z-index: 101; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#msgBoxBody {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 6px solid #0099ff;
    width: 70%;
    border-radius: 10px;
}

.prg{
    margin: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #ffffff;
}

/* The Close Button fo modal window */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.show{
display:block;
}

.hide{
display:none;
}

/*input file style*/
.input-file {
	position: relative;
	display: inline-block;
}

.input-file-btn {
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	background-color: #0099ff;
	line-height: 22px;
	padding: 10px 20px;
	margin: 10px;
	transition: background-color 0.2s;
}

.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #5cbeff;
}
.input-file:active .input-file-btn {
	background-color: #5cbeff;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #5cbeff;
}
