#bodyV1 { margin:      4px;   /*Ð¾Ñ‚ÑÑ‚ÑƒÐ¿ */
            background:   #4169e1;
            color:        #4169e1;
            font-family:  Arial, sans-serif;
            font-size:    8px;
            A {
                color: red; /* Ð¦Ð²ÐµÑ‚ ÑÑÑ‹Ð»Ð¾Ðº */
               }
               A:visited {
                color: #cecece; /* Ð¦Ð²ÐµÑ‚ Ð¿Ð¾ÑÐµÑ‰ÐµÐ½Ð½Ñ‹Ñ… ÑÑÑ‹Ð»Ð¾Ðº */
               }
               A:active {
                color: #ffff00; /* Ð¦Ð²ÐµÑ‚ Ð°ÐºÑ‚Ð¸Ð²Ð½Ñ‹Ñ… ÑÑÑ‹Ð»Ð¾Ðº */
               }
          }

.classbarVidg1{
  margin: 3px;
  width:  140px;
  height: 200px;   /*200*/
  background: rgb(0,0,0);
  color: rgb(255, 255, 255);
  /* ÐžÐ¿Ñ€ÐµÐ´ÐµÐ»Ð¸Ð¼ ÐºÐ¾Ð½Ñ‚ÑƒÑ€ Ñ„Ð¾Ñ€Ð¼Ñ‹ */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.adress {
  background: rgb(0,0,0);
  color: rgb(200,200,200);
  width: 100%;
  height: 80;
  line-height: 0.3;  /* Ñ€Ð°ÑÑ‚Ñ‚Ð¾ÑÐ½Ð¸Ðµ Ð¼ÐµÐ¶Ð´Ñƒ ÑÑ‚Ñ€Ð¾Ðº*/
}

.daytime {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-size:    8px;
  width: 100%;
  height: 80;
  line-height: 0.3;  /* Ñ€Ð°ÑÑ‚Ñ‚Ð¾ÑÐ½Ð¸Ðµ Ð¼ÐµÐ¶Ð´Ñƒ ÑÑ‚Ñ€Ð¾Ðº*/
}

.naprjazh {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-size: 12px;
  width: 100%;
  height: 80;

}

.leftstr {
     float: left;
     width: 50%;
     height: 50;
}
.rightstr {
    color: #B0E0E6;
    font-size: 12px;
    float: right;
    width: 50%;
    height: 50;
}

.classTemper {
  color: #7FFFD4;
  font-style: italic;
  text-align: center;
}

/* Ð˜Ð·Ð¼ÐµÐ½Ð¸Ñ‚Ðµ ÑÑ‚Ð¸Ð»Ð¸ Ð½Ð° Ð¾Ñ‡ÐµÐ½ÑŒ Ð¼Ð°Ð»ÐµÐ½ÑŒÐºÐ¸Ñ… ÑÐºÑ€Ð°Ð½Ð°Ñ… */
@media screen and (max-width: 500px) {

  .classbarVidg1{
       width: 90%;
       height: 350px;
       font-size: 14px;
  }
  .adress {
    font-size: 15px;
  }
  .daytime {
    font-size:  14px;
  }


  .naprjazh {
    font-size: 16px;
  }
  .rightstr {
      font-size: 16px;
  }
}
