<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бизнес управление</title>
    <link href="../../static/static.css" rel="stylesheet"/>
    <link rel="icon" href="../../images/icon.svg" type="image/x-icon">
    <script defer src="../../assets/notifications.js"></script>
</head>
<body>
    <header>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" style="display: none;"/>
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
            <ul class="header_list_menu_first">
                <li><a href="../../templates/index.html" class="header_link">Мои задачи</a></li>
                <li><a href="../../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
                <li><a href="#" class="header_link">Контроль</a></li>
                <li><a href="#" class="header_link">Чат</a></li>
            </ul>
            <ul class="header_list_menu_second">
            </ul>
            <ul class="header_list_menu_third">
                <li>
                    <img class="icon_ava" src="../../images/user.svg" style="margin-right: 5px;" alt="">
                    <a href="../../templates/user.html" class="header_link" id="user_id">Main user</a>
                </li>
                <li>
                    <a href="https://dev.proektit.ru" style="display: flex;"><img class="icon" src="../../images/logout.svg" style="height: 25px;" alt=""></a>
                </li>
            </ul>
            </ul>
        </div>
        <div class="header_body">
            <div class="header_logo">
              <img class="logo" src="../../images/logo.svg" alt="">
              <img class="logo_lt" src="../../images/logo_lt.svg" alt="">
              <ul class="header_list">
                <li><a href="../../templates/index.html" class="header_link">Мои задачи</a></li>
                <li><a href="../../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
                <li><a href="../../templates/control.html" class="header_link">Контроль</a></li>
                <li><a href="#" class="header_link">Чат</a></li>
              </ul>
            </div>
            <div class="header_list__user">
              <ul>
                <li id="sidebar_tablink_user">
                  <div class="header_list__user-container">
                    <div>
                      <img class="icon_ava" src="../../images/user.svg" alt="">
                      <a id="user_id">Иванов И. И.</a>
                    </div>
                    <img src="../../images/arrow_down_sidebar.svg" class="arrow_user" alt="">
                  </div>
                  <ul class="sub-menu__user">
                    <li><a class="tablinks_first" id="" href="../../templates/user/notifications.html">Уведомления</a></li>
                    <li><a class="tablinks_first" id="" href="../../templates/user/rules.html">Права</a></li>
                    <li><a class="tablinks_first" id="" href="../../templates/user/change_pass.html">Смена пароля</a></li>
                    <li><a class="tablinks_first" id="" onclick="handleLeaveSite()">Выход</a></li>
                    <li>
                      <label id="switch" class="switch">
                        <input type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
    </header>
    <div class="container">
        <table class="tb_not">
            <thead>
                
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Статус:</span> Отправлено</p>
                            <p><span style="text-decoration: underline;">Кто создал:</span> Сергеев Сергей Сергеевич</p>
                            <p><span style="text-decoration: underline;">Дата создания:</span> 24.05.22 15:40</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Заголовок:</span> Lorem ipsum dolor sit</p>
                            <p><span style="text-decoration: underline;">Текст:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat libero, blanditiis saepe atque porro, distinctio voluptatem illo impedit amet a aut asperiores veniam cupiditate. A, rem eos! Delectus, fugit eaque.</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span style="text-decoration: underline;">Адресанты:</span><br> Иванов Иван Иванович</p>
                        </div>
                    </td>
                    <td>
                        <div class="cell_button">
                            <button class="button_control" onclick=""><img src="../../images/button/chb/checkbox.svg" alt=""></button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="button_control" onclick=""><img src="../../images/button/cross_w.svg"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>