@font-face {
    font-family: Furore;
    src: url("../fonts/Furore.otf") format("opentype");
}

@font-face {
    font-family: Inter-Regular, sans-serif;
    src: url("../fonts/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter-Medium, sans-serif;
    src: url("../fonts/Inter-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter-Bold, sans-serif;
    src: url("../fonts/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
    background: black;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17181F;
    z-index: 2;
}

.container{
    width: 100%;
    max-width: 1900px;
    margin: 0px auto;
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.header_burger{
    display: none;
}

.header_logo{
    display: flex;
    position: relative;
    z-index: 3;
    box-sizing: content-box;
    border: 1px solid #F24E1E;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    max-width: 100%;
    padding-top: 5px;
}

.header_title{
    padding-left: 5px;
    font-family: 'Ledger', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

.header_list{
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
}

.header_list li{
    list-style: none;
    margin: 0 0 0 50px;
}

.header_link{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
}

.header_link:after {
    background-color: #F24E1E;
    display: block;
    content: "";
    height: 2px; 
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.header_link:hover:after,
.header_link:focus:after {
    width: 100%;
}

.button_lang{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    padding: 10px 10px;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid #F24E1E;
    border-radius: 10px;
}

.button_lang:hover{
    background:#F24E1E;
    color: #000000;
}

.block-1{
    display: flex;
    padding-top: 200px;
}

.block-1_block_title{
    width: 65%;
}

.block-1_title{
    font-weight: 500;
    font-size: 65px;
    line-height: 85px;
    text-align: left;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 50px;
    display: block;
    max-width: 730px;
    max-height: 340px;
    width: auto;
    height: auto;
}

.block-1_block_img{
    overflow: hidden;
    height: auto;
}

.block-1_img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-1_button_1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    padding: 15px 30px;
    background-color: #F24E1E;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    margin: 150px;
}

.block-1_button_1:hover{
    background:#F24E1E;
    color: #ffffff;
    box-shadow: 0 0 2px #F24E1E,
                  0 0 5px #F24E1E,
                  0 0 8px #F24E1E,
                  0 0 11px #F24E1E;
}

.block-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 200px;
}

.block-2_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.block-2_cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.block-2_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.block-2_icon{
    display: block;
    max-width:120px;
    max-height:120px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.block-2_description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    display: block;
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
}

.block-3{
    padding-top: 150px;
}

.block-3_block_background{
    background:
    url(../images/img1_block-3.png) left top/35% no-repeat,
    url(../images/img3_block-3.png) right bottom/35% no-repeat;
    background-color: rgb(0, 0, 0);
    background-blend-mode: hard-light;
}

.block-5_block_background{
    background:
    url(../images/img1_block-3.png) left bottom/35% no-repeat,
    url(../images/img3_block-3.png) right top/35% no-repeat;
    background-color: rgb(0, 0, 0);
    background-blend-mode: hard-light;
}

.block-7_block_background{
    background:
    url(../images/img8_block-6.png) center/130% no-repeat;
    background-color: rgb(0, 0, 0);
    background-blend-mode: hard-light;
}

.block-3_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 100px;
}

.block-3_block_about{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

.block-3_about{
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #F24E1E;
    overflow: hidden;
    margin: 20px;
    max-width: 1250px;
    max-height: 370px;
}

.block-3_img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-3_about_text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    display: block;
    width: auto;
    height: auto;
    margin: 80px;
    display: flex;
    align-items: center;
}

.block-3_advantages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-image: url(../images/triangle_paragraph_svg.svg);
    margin-left: 113px;
    padding-top: 40px;
}

.block-3_description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin: 25px;
    padding-left: 15px;
}

.block-3_block_slogan{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1870px;
    max-height: 1000px;
    width: auto;
    height: auto;
    background: url(../images/img5_block-3.png) center/100% no-repeat;
    padding-top: 300px;
    padding-bottom: 350px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.block-3_block_description{
    display: block;
    max-width: 700px;
    width: auto;
    height: auto;
    padding-right: 200px;
}

.block-3_description_slogan{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
}

.block-3_block_buttons{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.block-3_button_1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    padding: 15px 30px;
    background-color: #F24E1E;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    margin: 20px;
}

.block-3_button_1:hover{
    background:#F24E1E;
    color: #ffffff;
    box-shadow: 0 0 2px #F24E1E,
                  0 0 5px #F24E1E,
                  0 0 8px #F24E1E,
                  0 0 11px #F24E1E;
}

.block-3_button_2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;

    padding: 15px 30px;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid #F24E1E;
    border-radius: 10px;
    margin: 20px;
}

.block-3_button_2:hover{
    color: #ffffff;
    box-shadow: 0 0 2px #F24E1E,
                  0 0 5px #F24E1E,
                  0 0 8px #F24E1E,
                  0 0 11px #F24E1E;
}

.block-4{
    padding-top: 150px;
    padding-bottom: 0px;
}

.block-4_block_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.block-4_card_avantguard{
    max-width: 580px;
    width: auto;
    height: auto;
    background: #17181F;
    box-shadow: -10px -10px 20px rgba(242, 78, 30, 0.6);
}

.block-4_block_title_avantguard{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.block-4_card_title_avantguard{
    font-family: 'Furore';
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 10px;
}

.block-4_card_text_avantguard{
    display: block;
    max-width: 450px;
    max-height: 580px;
    width: auto;
    height: auto;
    padding: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.block-4_card_buttons_avantguard{
    display: flex;
    justify-content: space-around;
}

.block-4_button_1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    padding: 15px 30px;
    background-color: transparent;
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid #F24E1E;
    border-radius: 10px;
    margin: 20px;
}

.block-4_button_1:hover{
    color: #ffffff;
    box-shadow: 0 0 2px #F24E1E,
                  0 0 5px #F24E1E,
                  0 0 8px #F24E1E,
                  0 0 11px #F24E1E;
}

.block-4_button_2 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    margin: 20px;
}

.block-4_button_2:hover{
    color: #F24E1E;
}

.block-4_card_discrete_technologies{
    max-width: 580px;
    width: auto;
    height: auto;
    background: #17181F;
    box-shadow: -10px -10px 20px rgba(242, 78, 30, 0.6);
    margin-top: 30px;
    margin-left: -30px;
    margin-bottom: -30px;
}

.block-4_block_title_discrete_technologies{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.block-4_card_title_discrete_technologies{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 5px;
}

.block-4_card_text_discrete_technologies{
    display: block;
    max-width: 450px;
    max-height: 580px;
    width: auto;
    height: auto;
    padding: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.block-4_card_buttons_discrete_technologies{
    display: flex;
    justify-content: space-around;
}

.block-5_block_title_avantguard{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 150px;
}

.block-5_title_avantguard{
    font-family: 'Furore';
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 15px;
}

.block-5_block_f_title_avantguard{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 100px;
}

.block-5_block_s_title_avantguard{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 100px;
}

.block-5_block_avantguard{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 170px;
}

.block-5_block_text_avantguard{
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #F24E1E;
    overflow: hidden;
    margin: 20px;
    max-width: 1250px;
}

.block-5_text_avantguard{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    display: block;
    width: auto;
    height: auto;
    margin: 52px 69px;
}

.block-5_block_text_effect_avantguard{
    counter-reset: myCounter;
    margin: 0px 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    list-style-type: decimal-leading-zero;
}

.block-5_text_effect_avantguard{
    display: flex;
    align-items: center;
    max-width: 1650px;
    width: auto;
    height: auto;
    padding: 30px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative;

    list-style: none;
    border-top: 1px solid #676464;
    border-bottom: 1px solid #676464;
}

.block-5_text_effect_avantguard::before{
    counter-increment: myCounter;
    content:counter(myCounter, decimal-leading-zero) " ";
    display: inline-block;

    margin-right: 100px;

    font-family: 'Ledger';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #F24E1E;
}

.block-6{
    padding-top: 150px;
}

.block-6_block_title_discrete_technologies{
    display: flex;
    justify-content: center;
}

.block-6_title_discrete_technologies{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 5px;
}

.block-6_block_discrete_technologies{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.block-6_block_text_discrete_technologies{
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #F24E1E;
    overflow: hidden;
    margin: 20px;
    max-width: 1250px;
}

.block-6_img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-6_text_discrete_technologies{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    display: block;
    width: auto;
    height: auto;
    margin: 58px 75px;
    display: flex;
    align-items: center;
}

.block-7{
    padding-top: 150px;
}

.block-7_block_contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.block-7_block_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-7_info_card{
    display: flex;
    width: 370px;
    height: 180px;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 20px;

    background: #17181F;
    border-radius: 10px;
}

.block-7_info_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.block-7_block_card{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
}

.block-7_info_logo{
    width: 65px;
    height: 65px;
}

.block-7_info_description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

    padding-left: 30px;
}

.block-7_block_phones{
    display: flex;
    flex-direction: column;
}

.block-7_block_form{
    width: 670px;
    height: 721px;

    background: #17181F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.block-7_f_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    margin-left: 90px;
}

.block-7_s_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-left: 90px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
}

input, textarea{
    box-sizing: border-box;
    border: 1px solid #F24E1E;
    border-radius: 10px;
    background: #17181F;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    resize: none;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    width: 483px;
    height: 45px;
}

.block-7_button_1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;

    padding: 15px 30px;
    background-color: #F24E1E;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 10px;
}

.block-7_button_1:hover{
    background:#F24E1E;
    color: #ffffff;
    box-shadow: 0 0 2px #F24E1E,
                  0 0 5px #F24E1E,
                  0 0 8px #F24E1E,
                  0 0 11px #F24E1E;
}

input.captcha{
    width: 123px;
}

.symbol{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.footer{
    background-color: #17181F;
}

.footer_container{
    width: 100%;
    max-width: 1900px;
    margin: 0px auto;
}

.footer_body{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.footer_list {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px;
}

.footer_list li{
    list-style: none;
    margin: 15px 0;
}

.footer_link {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
}

.footer_link:after {
    background-color: #F24E1E;
    display: block;
    content: "";
    height: 2px; 
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.footer_link:hover:after,
.footer_link:focus:after {
    width: 100%;
}

.footer_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.footer_text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 30px 0px;
    display: block;
    max-width: 350px;
    width: auto;
    height: auto;
}

.footer_description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

@media (max-width: 1470px){
    .block-1_title{
        font-size: 52px;
        line-height: 70px;
        margin-left: 45px;
    }
    .header_link{
        font-size: 20px;
    }
    .block-1_button_1{
        margin: 100px;
    }
    .block-3_about{
        max-width: 1000px;
        max-height: 1000px;
    }
    .block-3_img1{
        display: none;
    }
    .block-3_about_text{
        margin: 50px;
    }
    .block-3_block_background{
        background:
        url(../images/img1_block-3.png) left top/40% no-repeat,
        url(../images/img3_block-3.png) right bottom/40% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-5_block_background{
        background:
        url(../images/img1_block-3.png) left bottom/40% no-repeat,
        url(../images/img3_block-3.png) right top/40% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-3_block_description {
        display: block;
        max-width: 600px;
        width: auto;
        height: auto;
        padding-right: 150px;
    }
    .block-3_description_slogan {
        font-size: 35px;
        line-height: 45px;
    }
    .block-3_block_buttons {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
}

@media (max-width: 1275px){
    .block-6_img1{
        display: none;
    }
}

@media (max-width: 1200px){
    body.lock{
        overflow: hidden;
    }
    .header_body{
        height: 100px;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #17181F;
        padding: 100px 0px 0px 0px;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header_list li{
        margin: 0 0 30px 0;
    }
    .header_link{
        font-size: 27px;
    }
    .button_lang{
        font-size: 20px;
    }
        .block-1_title{
        font-size: 45px;
        line-height: 60px;
    }
    .block-3_block_description {
        display: block;
        max-width: 500px;
        width: auto;
        height: auto;
        padding-right: 100px;
    }
    .block-3_description_slogan {
        font-size: 30px;
        line-height: 37px;
    }
    .block-3_block_buttons {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .block-3_button_1{
        font-size: 17px;
    }
    .block-3_button_2{
        font-size: 17px;
    }
    .block-4_button_1{
        font-size: 17px;
    }
    .block-4_button_2{
        font-size: 17px;
    }
    .block-7_button_1 {
        font-size: 17px;
    }
}

@media (max-width: 1070px){
    .block-4_card_discrete_technologies{
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 150px;
    }
    .block-7_block_info{
        margin-bottom: 20px;
    }
    .block-7_info_card{
        margin: 20px;
    }
    .footer_body{
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px){
    .block-1_title{
        font-size: 36px;
        line-height: 45px;
    }
    .block-1_button_1{
        font-size: 17px;
        padding: 10px 20px;
    }
    .block-2_title{
        font-size: 35px;
    }
    .block-3_title{
        font-size: 40px;
    }
    .block-3_about{
        max-width: 700px;
        max-height: 1000px;
    }
    .block-3_block_background{
        background:
        url(../images/img1_block-3.png) left top/50% no-repeat,
        url(../images/img3_block-3.png) right bottom/50% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-5_block_background{
        background:
        url(../images/img1_block-3.png) left bottom/50% no-repeat,
        url(../images/img3_block-3.png) right top/50% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-3_block_slogan{
        padding-top: 150px;
        padding-bottom: 150px;
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .block-3_block_buttons {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .block-3_button_1{
        padding: 10px 20px;
    }
    .block-3_button_2{
        padding: 10px 20px;
    }
    .block-4_button_1 {
        padding: 10px 20px;
    }
    .block-5_block_f_title_avantguard {
        font-size: 33px;
    }
    .block-5_block_s_title_avantguard {
        font-size: 33px;
    }
    .block-5_text_effect_avantguard::before {
        margin-right: 70px;
    }
    .block-5_block_text_effect_avantguard {
        margin: 0px 20px;
        padding-top: 70px;
    }
    .block-7_button_1 {
        padding: 10px 20px;
    }
    .block-7_block_contacts {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media (max-width: 768px){
    .block-1_title{
        font-size: 31px;
        line-height: 42px;
    }
    .block-3_block_slogan {
        padding-bottom: 0px;
        margin-bottom: 50px;
        margin-top: 0;
        align-items: flex-end;
        background: none;
    }
    .block-5_text_avantguard{
        margin: 45px;
    }
    .block-5_block_f_title_avantguard{
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .block-5_block_s_title_avantguard{
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .block-5_text_effect_avantguard {
        padding: 20px;
    }
    .block-5_text_effect_avantguard::before {
        margin-right: 50px;
    }
    .block-6_text_discrete_technologies {
        margin: 45px 45px;
    }
    .footer_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
    .footer_list {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        margin: 30px;
    }
}

@media (max-width: 550px){
    .block-4_card_avantguard{
        max-width: 450px;
    }
    .block-4_card_discrete_technologies{
        max-width: 450px;
    }
    .block-4_block_cards {
        margin-top: 70px;
    }
    .block-7_block_form {
        width: 390px;
        height: 630px;
    }
    .block-7_f_title {
        font-size: 30px;
        margin-left: 20px;
    }
    .block-7_s_title {
        font-size: 20px;
        margin-left: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
    }
    input, textarea {
        font-size: 16px;
        width: 350px;
    }
    .block-7_button_1 {
        margin-top: 30px;
    }
    .footer_body{
        justify-content: flex-start;
        padding: 30px;
    }
    .footer_list{
        margin-top: 30px;
    }
    .footer_logo {
        margin: 10px;
    }
    .footer_list {
        margin: 10px;
    }
}

@media (max-width: 470px){
    .block-1{
        margin-bottom: 180px;
        padding-top: 150px;
    }
    .block-1_title{
        font-size: 25px;
        line-height: 30px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .block-1_button_1{
        font-size: 17px;
        padding: 15px 30px;
        margin: 30px;
    }
    .block-2{
        padding-top: 0;
    }
    .block-2_title{
        font-size: 30px;
    }
    .block-2_cards{
        margin-top: 50px;
    }
    .block-2_icon{
        margin-bottom: 20px;
    }
    .block-2_description{
        font-size: 20px;
        line-height: 25px;
    }
    .block-3{
        padding-top: 120px;
    }
    .block-3_title{
        font-size: 30px;
        margin-left: 50px;
    }
    .block-3_block_about{
        margin-top: 40px;
    }
    .block-3_about{
        max-width: 400px;
        max-height: 1000px;
    }
    .block-3_about_text{
        margin: 30px;
        line-height: 25px;
        font-size: 20px;
    }
    .block-3_advantages{
        padding-top: 30px;
        margin-left: 40px;
    }
    .block-3_description{
        line-height: 25px;
        font-size: 20px;
        margin: 15px;
    }
    .block-3_block_background{
        background:
        url(../images/img1_block-3.png) left top/80% no-repeat,
        url(../images/img3_block-3.png) right center/80% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-5_block_background{
        background:
        url(../images/img1_block-3.png) left bottom/80% no-repeat,
        url(../images/img3_block-3.png) right center/80% no-repeat;
        background-color: rgb(0, 0, 0);
        background-blend-mode: hard-light;
    }
    .block-3_block_slogan {
        background: none;
        padding-bottom: 0px;
    }
    .block-3_block_description {
        padding-right: 0;
        max-width: 400px;
    }
    .block-3_description_slogan {
        font-size: 23px;
        line-height: 30px;
    }
    .block-3_button_1{
        font-size: 17px;
        padding: 15px 30px;
    }
    .block-3_button_2{
        font-size: 17px;
        padding: 15px 30px;
    }
    .block-4{
        padding-top: 130px;
    }
    .block-4_card_text_avantguard{
        font-size: 20px;
        line-height: 25px;
    }
    .block-4_card_text_discrete_technologies{
        font-size: 20px;
        line-height: 25px;
    }
    .block-4_card_avantguard{
        max-width: 360px;
    }
    .block-4_card_discrete_technologies{
        max-width: 360px;
        margin-top: 100px;
    }
    .block-4_block_cards {
        margin-top: 70px;
    }
    .block-4_button_1{
        font-size: 17px;
        padding: 15px 30px;
    }
    .block-5_block_title_avantguard {
        display: flex;
        justify-content: center;
        padding-bottom: 70px;
    }
    .block-5_title_avantguard {
        padding-top: 3px;
        font-size: 35px;
    }
    .block-5_block_f_title_avantguard {
        font-size: 26px;
    }
    .block-5_block_s_title_avantguard {
        font-size: 26px;
    }
    .block-5_block_avantguard {
        margin-top: 50px;
    }
    .block-5_text_avantguard{
        line-height: 25px;
        font-size: 20px;
        margin: 30px;
    }
    .block-5_text_effect_avantguard {
        line-height: 25px;
        font-size: 20px;
    }
    .block-5_text_effect_avantguard::before {
        margin-right: 30px;
    }
    .block-6_text_discrete_technologies {
        font-size: 20px;
        line-height: 25px;
        margin: 30px;
    }
    .block-7{
        padding-top: 130px;
    }
    .block-7_block_contacts{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .block-7_button_1 {
        font-size: 17px;
        padding: 15px 30px;
    }
}

@media (max-width: 376px) {
    .block-3_block_description {
        padding-right: 0;
        max-width: 360px;
    }
}