<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>IT 项目</title>
    <script defer src="../assets/app.js"></script>
    <link href="../static/static.css" rel="stylesheet" />
    <link rel="icon" href="../images/ITlogo.svg" type="image/x-icon">
</head>
<body  id="Главная">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header_body">
                    <div class="header_logo">
                        <img class="logo" src="../images/ITlogo.svg" alt="">
                        <a class="header_title" href="#Главная">项目</a>
                    </div>
                    <div class="header_burger">
                        <span></span>
                    </div>
                    <nav class="header_menu">
                        <ul class="header_list">
                            <li><a href="#Главная" class="header_link">主頁</a></li>
                            <li><a href="#Основные_направления" class="header_link">路線</a></li>
                            <li><a href="#О_компании" class="header_link">關於公司</a></li>
                            <li><a href="#Разработки" class="header_link">發展</a></li>
                            <li><a href="#Контакты" class="header_link">聯繫方式</a></li>
                            <li><a href="index_ru.html" class="button_lang">РУ</a></li>
                            <li><a href="index_en.html" class="button_lang">EN</a></li>
                            <li><a href="index_ch.html" class="button_lang">汉语</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="block-1">
                    <div class="block-1_block_title">
                        <p class="block-1_title">IT 项目: <br>软件世界的创新与质量</p>
                        <a href="#Контакты" class="block-1_button_1">更多</a>
                    </div>
                    <div class="block-1_block_img">
                        <img class="block-1_img1" src="../images/img1_block-1.png" alt="">
                    </div>
                </div>
                <div class="block-2" id="Основные_направления">
                    <a class="block-2_title">主要方向</a>
                    <div class="block-2_cards">
                        <div class="block-2_card">
                            <img class="block-2_icon" src="../images/controller_block-2.png" alt="">
                            <a class="block-2_description">微控制器软件开发</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="../images/shield_block-2.png" alt="">
                            <a class="block-2_description">开发安全系统软件</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="../images/applications_block-2.png" alt="">
                            <a class="block-2_description">为移动设备和网络服务创建应用程序</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="../images/business_block-2.png" alt="">
                            <a class="block-2_description">业务流程自动化</a>
                        </div>
                    </div>
                </div>
                <div class="block-3" id="О_компании">
                    <div class="block-3_block_background">
                        <div class="block-3_block_background">
                            <a class="block-3_title">關於公司</a>
                            <div class="block-3_block_about">
                                <div class="block-3_about">
                                    <img class="block-3_img1" src="../images/img4_block-3.png" alt=""/>
                                    <a class="block-3_about_text">IT 项目 — 是信息技术领域的一个先进创新项目、 它为解决现代世界复杂而紧迫的问题开发专业软件。
                                        我们的团队由经验丰富的专业人员组成，他们随时准备提供新思路和新技术，以开发优质可靠的软件产品。</a>
                                </div>
                            </div>
                            <a class="block-3_title">我们的优势</a>
                            <ul class="block-3_advantages">
                                <li class="block-3_description">经验和专业精神：我们的团队开发软件已有 25 年以上的历史。</li>
                                <li class="block-3_description">个性化方法：我们考虑到每位客户的需求和特点。</li>
                                <li class="block-3_description">创新：我们为客户提供最先进的软件解决方案。</li>
                                <li class="block-3_description">快速实现项目：我们珍惜您的时间。</li>
                                <li class="block-3_description">灵活、可扩展：我们的解决方案可轻松适应您业务的增长和发展。</li>
                                <li class="block-3_description">透明与信任：我们致力于与客户开展公开、诚实的合作。</li>
                                <li class="block-3_description">具有竞争力的价格：我们以合理的价格提供创新的解决方案。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-3_block_slogan">
                        <div class="block-3_block_description">
                            <a class="block-3_description_slogan">我们致力于不断改进我们的产品和服务、 因此，我们积极采用现代化的开发、分析和测试方法。</a>
                            <div class="block-3_block_buttons">
                                <a href="#Контакты" class="block-3_button_1">更多</a>
                                <a href="#Разработки" class="block-3_button_2">發展</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-4" id="Разработки">
                    <a class="block-3_title" id="Разработки">發展</a>
                    <div class="block-4_block_cards">
                        <div class="block-4_card_avantguard">
                            <div class="block-4_block_title_avantguard">
                                <img class="block-4_card_logo_avantruard" src="../images/logo_avantruard.png" alt=""/>
                                <a class="block-4_card_title_avantguard">Avantguard</a>
                            </div>
                            <a class="block-4_card_text_avantguard">收集和分析各种系统信息的技术平台。Avantguard 是一个统一的系统，
                                用于控制各种自动化和监控系统（安全、住房和公用事业、智能家居等）的参数。该平台分析接收到的数据，并告知可能出现的异常情况。</a>
                            <div class="block-4_card_buttons_avantguard">
                                <a href="#avantguard" class="block-4_button_1">更多</a>
                                <a href="https://lk.avantguard.pro/user/signin" class="block-4_button_2">转至网站</a>
                            </div>
                        </div>
                        <div class="block-4_card_discrete_technologies">
                            <div class="block-4_block_title_discrete_technologies">
                                <img class="block-4_card_logo_discrete_technologies" src="../images/logo_discrete_technologies.png" alt=""/>
                                <a class="block-4_card_title_discrete_technologies">Discrete<br> technologies</a>
                            </div>
                            <a class="block-4_card_text_discrete_technologies">我们是离散技术公司 Discrete Technologies 的合作伙伴，为其开发软件。
                                离散技术公司从事工业过程自动化领域电子系统的开发和生产 以及工业自动化的小规模生产。</a><br>
                            <div class="block-4_card_buttons_discrete_technologies">
                                <a href="#discrete_technologies" class="block-4_button_1">更多</a>
                                <a href="http://www.discret.ru" class="block-4_button_2">转至网站</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-5" id="avantguard">
                    <div class="block-5_block_background">
                        <div class="block-5_block_title_avantguard">
                            <img class="block-5_logo_avantruard" src="../images/logo_avantruard.png" alt=""/>
                            <a class="block-5_title_avantguard">Avantguard</a>
                        </div>
                        <a class="block-5_block_f_title_avantguard">实现特点</a>
                        <div class="block-5_block_avantguard">
                            <div class="block-5_block_text_avantguard">
                                <a class="block-5_text_avantguard">在线技术平台自动向移动和固定设备显示分析数据 随后提供自动或手动模式的响应选项。
                                    该平台部署在一台或多台服务器上、 既可以是物理机，也可以是虚拟机。技术平台在 Astra Linux 操作系统的控制下运行。
                                    也可以使用其他 Linux、FreeBSD 和 Windows 发行版来部署和使用平台组件。系统结构允许将 在不同的服务器上安装不同的服务，
                                    从而提供可扩展性、可控的计算负荷分配和网络接口负载。系统设有服务冗余机制，当某些资源不可用时，系统会自动重建信息流。</a>
                            </div>
                        </div>
                        <a class="block-5_block_s_title_avantguard">实施的效果</a>
                        <ol class="block-5_block_text_effect_avantguard">
                            <li class="block-5_text_effect_avantguard">可以拒绝远程监护服务，只支付响应费用。</li>
                            <li class="block-5_text_effect_avantguard">通过该平台，可以实时接收有关设施运行情况的可靠信息、 从而消除对外部承包商和员工的依赖。</li>
                            <li class="block-5_text_effect_avantguard">能够从世界上任何有互联网的地方远程访问、响应、管理和分析信息。</li>
                            <li class="block-5_text_effect_avantguard">所有设备和平台访问都可以托管在客户的场所，也可以作为云服务提供。</li>
                            <li class="block-5_text_effect_avantguard">这些设备可以方便地运输并连接到其他地点。</li>
                            <li class="block-5_text_effect_avantguard">监控连接到技术平台的设备和系统的状态。</li>
                            <li class="block-5_text_effect_avantguard">最大限度地降低工艺维护和保养的人工成本。</li>
                        </ol>
                    </div>
                </div>
                <div class="block-6" id="discrete_technologies">
                    <div class="block-6_block_title_discrete_technologies">
                        <img class="block-6_logo_discrete_technologies" src="../images/logo_discrete_technologies.png" alt=""/>
                        <a class="block-6_title_discrete_technologies">Discrete<br> technologies</a>
                    </div>
                    <div class="block-6_block_discrete_technologies">
                        <div class="block-6_block_text_discrete_technologies">
                            <img class="block-6_img1" src="../images/img1_block-6.png" alt=""/>
                            <a class="block-6_text_discrete_technologies">两家公司的整合包括通过密切合作和知识共享，共同开发微控制器软件。
                                这一过程包括相互理解、测试、培训和支持，以确保项目的成功实施。</a>
                        </div>
                    </div>
                </div>
                <div class="block-7" id="Контакты">
                    <div class="block-7_block_background">
                        <a class="block-3_title">聯繫方式</a>
                        <div class="block-7_block_contacts">
                            <div class="block-7_block_info">
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">我们的办公室</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="../images/logo_our_office.svg" alt=""/>
                                        <a class="block-7_info_description">170100, 特维尔市, <br>安德烈-杰门季耶夫街, 37</a>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">电话号码</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="../images/logo_phone_number.svg" alt=""/>
                                        <div class="block-7_block_phones">
                                            <a class="block-7_info_description">+7 (4822) 33-11-23</a><br>
                                            <a class="block-7_info_description">+7 (4822) 33-13-23</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">电子邮件地址</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="../images/logo_e-mail.svg" alt=""/>
                                        <a class="block-7_info_description">info@proektit.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-7_block_form">
                                <a class="block-7_f_title">有任何问题吗？</a><br>
                                <a class="block-7_s_title">请留下您的联系方式，我们的经理会与您联系</a>
                                <form action="send_mail.php" name="form" method="POST">
                                    <input type="text" id="name" name="name" class="name" placeholder="您的姓名" data-reg="^[A-Z][a-z]*$">
                                    <input type="text" id="phone" name="phone" class="number" placeholder="您的电话号码" data-reg="^((\+)+([0-9]){14})$">
                                    <input type="text" id="email" name="email" class="e-mail_address" placeholder="您的电子邮件" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"> 
                                    <textarea name="message" class="comment" placeholder="您的信息"></textarea>                                    
                                    <a class="block-7_info_description">确认你不是机器人</a>
                                    <table>
                                        <tr>
                                            <td><input type="text" name="num1" class="captcha" placeholder="数字" data-reg="^[0-9]+"> <a class="symbol">+</a> </td>
                                            <td><input type="text" name="num2" class="captcha" placeholder="数字" data-reg="^[0-9]+"> <a class="symbol">=</a> </td>
                                            <td><input type="text" name="res" class="captcha" placeholder="和"></td>
                                        </tr>
                                    </table>
                                    <button type="submit" name="submit" value="Send" class="block-7_button_1" data-callback='onSubmit' data-action='submit'>发送</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer_container">
                <div class="footer_body">
                    <div class="footer_logo">
                        <div class="header_logo">
                            <img class="logo" src="../images/ITlogo.svg" alt="">
                            <a class="header_title" href="#Главная">项目</a>
                        </div>
                        <a class="footer_text">IT 项目: <br>软件世界的创新与质量</a>
                    </div>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a href="#Главная" class="footer_link">主頁</a></li>
                            <li><a href="#Основные_направления" class="footer_link">路線</a></li>
                            <li><a href="#О_компании" class="footer_link">關於公司</a></li>
                            <li><a href="#Разработки" class="footer_link">發展</a></li>
                            <li><a href="#Контакты" class="footer_link">聯繫方式</a></li>
                        </ul>
                    </nav>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a class="footer_title">聯繫方式</a></li>
                            <li><a class="footer_description">运行时间: 星期一至星期五 9:00-18:00</a></li>
                            <li><a class="footer_description">+7 (4822) 33-11-23</a></li>
                            <li><a class="footer_description">+7 (4822) 33-13-23</a></li>
                            <li><a class="footer_description">info@proektit.ru</a></li>
                            <li><a class="footer_description">170100, 特维尔市, 安德烈-杰门季耶夫街, 37</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

