<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>AvantGuard</title>
    <link href="../static/static.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <div class="block_enter-wrapper">
            <div class="block_enter">
                <a class="title_first">AvantGuard</a>
                <a class="title_second">Выберите способ входа</a>
                <div class="block_button">
                    <img class="icon" src="../images/key.svg" alt="">
                    <a class="link" href="enter_login.html">Идентификатор</a>
                </div>
                <div class="block_button">
                    <img class="icon" src="../images/e-mail.svg" alt="">
                    <a class="link" href="enter_login.html">E-mail адрес</a>
                </div>
                <div class="block_button">
                    <img class="icon" src="../images/phone.svg" alt="">
                    <a class="link" href="enter_login.html">Номер телефона</a>
                </div>
                <div class="block_button">
                    <img class="icon" src="../images/telegram.svg" alt="">
                    <a class="link" href="enter_login.html">Телеграмм</a>
                </div>
                <a class="reg">Регистрация</a>
            </div>
        </div>
    </div>
</body>
</html>