<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<link rel="icon" href="../images/favicon.ico" />-->
    <link href="../static/static.css" rel="stylesheet" />
    <title>Network settings</title>
    <script defer type="text/javascript" src="../assets/update.js"></script>
    <script defer type="text/javascript" src="../assets/constants.js"></script>
</head>
<body>
    <header class="header">
        <div class="header_body">
            <div class="header_logo">
                <img class="logo" src="../images/logo_w.png" alt="">
                <!--<img class="logo" src="../images/logo.png" alt="">
                <a class="header_title">ДИСКРЕТНЫЕ <br>ТЕХНОЛОГИИ</a>-->
            </div>
            <div class="block_status">
                <div class="icon_status">
                    <a href="access-point.html"><img class="icon_settings" src="../images/access-point.svg" title="Точка доступа" alt=""></a>
                </div>
                <div class="icon_status">
                    <a href="wi-fi.html"><img class="icon_settings" src="../images/wi-fi.svg" title="Wi-FI" alt=""></a>
                </div>
                <div class="icon_status">
                    <a href="ethernet.html"><img class="icon_settings" src="../images/ethernet.svg" title="Ethernet" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <div class="block_go_back_button">
        <div class="body_go_back_button">
            <a href="javascript: history.go(-1)">
                <img class="icon_settings" src="../images/go_back.svg" alt="">
                <a class="go_back_button" href="javascript: history.go(-1)">Назад</a>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="container_menu">
            <div class="block_menu">
                <div class="point_menu">
                    <img class="icon_settings" src="../images/home.svg" alt="">
                    <a href="../main.html" class="title-settings">Главная</a>
                </div>
                <div class="point_menu">
                    <img class="icon_settings" src="../images/settings.svg" alt="">
                    <a href="settings.html" class="title-settings">Настройки</a>
                </div>
            </div>
        </div>
        <div class="container_settings">
            <div class="container">
                <div class="block_settings_title">
                    <div class="line_settings">
                        <a class="main_title_text">Информация о прошивке</a>
                    </div>
                </div>
                <div class="block_settings">
                    <div class="line_settings_input">
                        <label for="id_firmware">ID прошивки</label>
                        <input type="text" id="id_firmware" value="20230718-125409/1.1.1-beta-g4893033" name="id_firmware" readonly>
                    </div>
                </div>
                <div class="block_settings">
                    <div class="line_settings_input">
                        <label for="id_web">ID веб интерфейса</label>
                        <input type="text" id="id_web" value="230717130511-48b7e7ba-HEAD" name="id_web" readonly>
                    </div>
                </div>
                <div class="block_settings_title">
                    <div class="line_settings">
                        <button>Обновить</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="block_settings_title">
                    <div class="line_settings">
                        <a class="main_title_text">Кастомная прошивка</a>
                    </div>
                </div>
                <div class="block_settings">
                    <div class="line_settings_input">
                        <table class="maintbl">
                            <tr>
                                <td>
                                    <form method='POST' action='#' enctype='multipart/form-data' id='upload_form'>
                                        <input type='file' name='update' id='file' onchange='sub(this)' style=display:none>
                                        <label id='file-input' for='file'>	 Выберите файл...</label>
                                        <div class="file_radio">
                                            <input type="radio" id="fw" name="filetype" value="fw" checked>
                                            <label for="fw">Firmware</label>
                                        </div>
                                        <div class="file_radio">
                                            <input type="radio" id="fs" name="filetype" value="fs">
                                            <label for="fs">File system</label>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="prg" id='prg'></div>
                                    <div id='prgbar'>
                                        <div id='bar'></div>
                                    </div> 
                                </td>
                            </tr> 
                        </table>
                    </div>
                </div>
                <div class="block_settings_title">
                    <div class="line_settings">
                        <button onclick='mysub()'>Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>