<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<link rel="icon" href="../images/favicon.ico" />-->
    <link href="../static/static.css" rel="stylesheet" />
    <title>Network settings</title>
</head>
<body>
    <header class="header">
        <div class="header_body">
            <div class="header_logo">
                <img class="logo" src="../images/logo_w.png" alt="">
                <!--<img class="logo" src="../images/logo.png" alt="">
                <a class="header_title">ДИСКРЕТНЫЕ <br>ТЕХНОЛОГИИ</a>-->
            </div>
            <div class="block_status">
                <div class="icon_status">
                    <a href="access-point.html"><img class="icon_settings" src="../images/access-point.svg" title="Точка доступа" alt=""></a>
                </div>
                <div class="icon_status">
                    <a href="wi-fi.html"><img class="icon_settings" src="../images/wi-fi.svg" title="Wi-FI" alt=""></a>
                </div>
                <div class="icon_status">
                    <a href="ethernet.html"><img class="icon_settings" src="../images/ethernet.svg" title="Ethernet" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <div class="block_go_back_button">
        <div class="body_go_back_button">
            <a href="javascript: history.go(-1)">
                <img class="icon_settings" src="../images/go_back.svg" alt="">
                <a class="go_back_button" href="javascript: history.go(-1)">Назад</a>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="container_menu">
            <div class="block_menu">
                <div class="point_menu">
                    <img class="icon_settings" src="../images/home.svg" alt="">
                    <a href="../main.html" class="title-settings">Главная</a>
                </div>
                <div class="point_menu">
                    <img class="icon_settings" src="../images/settings.svg" alt="">
                    <a href="settings.html" class="title-settings">Настройки</a>
                </div>
            </div>
        </div>
        <div class="container_settings">
            <div class="container">
                <div class="block_settings_title">
                    <div class="line_settings_input">
                        <a class="main_title_text">Информация об устройстве</a>
                    </div>
                </div>
                <div class="block_settings">
                    <div class="line_settings_input">
                        <label for="id_device">ID устройства</label>
                        <input type="text" id="id_device" value="342743" name="id_device" readonly>
                    </div>
                </div>
                <div class="block_settings">
                    <div class="line_settings_input">
                        <label for="name_device">Имя устройства</label>
                        <input type="text" id="name_device" name="name_device" placeholder="Имя устройства"/>
                        <a class="note">Можете изменить имя устройства</a>
                    </div>
                </div>
                <div class="block_settings_title">
                    <div class="line_settings_input">
                        <button>Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="block_settings_title">
                    <div class="line_settings_input">
                        <a class="main_title_text">Перевести в заводские настройки</a>
                    </div>
                </div>
                <div class="block_settings_title">
                    <div class="line_settings_input">
                        <button>Установить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>