{{ define "index" }}

{{ template "header" }}

  <main class="px-3">
    <h1>Главная страница.</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Qui similique quaerat voluptatibus asperiores expedita dolores perferendis aut, 
        unde, quisquam ratione quae consequuntur sequi vero fugit totam excepturi soluta ea? 
        Voluptate!</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
    </p>
  </main>

  {{ template "footer" }}

{{ end }}