{{ define "authorization" }}
 
{{ template "header_for_demo" }}

<main role="main" class="inner cover">
  <h1>Авторизация на Publish Place</h1><br>
  <form action="/check_user" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Электронная почта</label><br><br>
      <input type="email" name="login" id="login" placeholder="Введите электорнную почту" class="form-control">
      <small id="emailHelp" class="form-text text-muted">Мы никогда не поделимся вашей электронной почтой с кем-либо еще</small><br><br>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label><br><br>
      <input type="password" name="password" id="password" placeholder="Введите пароль" class="form-control"><br>
      </div>
      <button class="btn btn-primary">Создать</button>
  </form>
</main>

{{ template "footer" }}

{{ end }}