{{ define "rules" }} 
{{ template "header" }}

<main class="px-3">
  <h2>Правила сайта</h2>
  <br>
  <div class="alert alert-dark" role="alert">
    <p>1. Уникальность контента: статья должна быть оригинальной и не содержать плагиата.</p>
    <p>2. Проверка правописания и пунктуации: статья должна быть написана без ошибок и с соблюдением русского языка и правил пунктуации.</p>
    <p>3. Релевантность темы: статья должна соответствовать тематике и интересам аудитории сайта.</p>
    <p>4. Структура статей: необходимо использовать подзаголовки, списки, абзацы и выделения для удобства чтения и понимания текста.</p>
    <p>5. Цитирование и ссылки: ссылайтесь на авторитетные источники для подтверждения информации, и надлежащим образом указывайте ссылки на них в тексте статьи.</p>
    <p>6. Включение мультимедиа: при необходимости можно вставить иллюстрации, фотографии, видео или аудио материалы в контент статьи.</p>
    <p>7. Ошибки фактов: проверьте все факты, цитаты и утверждения на достоверность.</p>
    <p>8. Нейтральность точки зрения: статья должна быть объективной и не содержать неконструктивной критики или пропаганду.</p>
    <p>9. Вводный абзац: в начале статьи должен быть краткий абзац, который описывает основную идею статьи и заинтересовывает читателя.</p>
    <p>10. Выбор темы: выбирайте актуальные и интересные темы, которые будут полезны и привлекательны для читателей сайта.</p></div>
    <br>
    <p class="lead">
      <a href="/main" class="btn btn-lg btn-light">Назад</a>
    </p>
</main>

{{ template "footer" }} 
{{ end }}