@font-face {
    font-family: Inter-Regular, sans-serif;
    src: url("../static/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter-Medium, sans-serif;
    src: url("../static/Inter-Medium.ttf") format("ttf");
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    width: auto;
    height: 100%;
    background: #17181F;
    margin: 0px auto;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #2e303d;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.header_body{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 900px;
    background-color: #17181F;
    top: 0px;
    z-index: 3;
}

.header_logo{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}

.logo{
    height: 30px;
}

.header_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.body_go_back_button{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 900px;
    align-items: center;
    background-color: #17181F;
    top: 70px;
    z-index: 3;
}

.go_back_button{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 4px;
}

.icon_go_back{
    width: 30px;
    height: 30px;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
    max-width: 1350px;
    margin: 0px auto;
}

.container_menu{
    display: flex;
    align-items: flex-start;
    margin-right: 50px;
    margin-left: 30px;
}

.block_menu{
    margin-top: 105px;
    display: flex;
    flex-direction: column;
}

.point_menu{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.container_settings{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-right: 42px;
    position: relative;
}

.container_settings_ms{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 25px;
    position: relative;
}

.block_status{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    margin-right: 45px;
}

.block_status_main{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
    transform: translateX(-100%);
    top: 12px;
}

.block_status_main_is{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    top: 1px;
    right: 0;
}

.block_icon_status{
    margin: 7px;
}

.icon_status{
    width: 26px;
}

.main_title{
    margin: 10px 0;
}

.main_title_text{
    font-family: 'Inter-Medium', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

.title_text{
    font-family: 'Inter-Medium', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

.container{
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.block_settings_title{
    display: flex;
    margin: 0px 30px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.block_settings_title_s{
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.block_settings{
    display: flex;
    padding: 8px 30px;
}

.block_settings_index{
    display: flex;
    align-items: center;
    padding: 25px 30px;
}

.line_settings_radio{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.seporator{
    width: 92%;
    border: 1px solid #17181F;
    display: block;
    margin: 0 auto;
}

.seporator_full{
    border: 1px solid #17181F;
    display: block;
    margin: 0 auto;
}

.icon_settings{
    width: 26px;
    height: 26px;
}

.title-settings{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}

.title_menu_main{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}

.title_menu{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
}

.title_options{
        font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
}

/*для точки доступа*/

label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    width: 270px;
}

.fat{
    width: 430px;
}

.checkbox{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
}

.checkbox_right{
    margin-right: 10px;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

input[type="radio"]{
    width: 18px;
    height: 18px;
    margin: 10px 0px;
}

input[type="text"]{
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

input[type="text"][readonly]{
    background-color: #2e303d;
    outline: none;
}

input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

input[type="button"]{
    width: 18px;
    height: 18px;
    background-color: #0f35bf;
}

input[type="button"]:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                0 0 2px #0f35bf,
                0 0 4px #0f35bf,
                0 0 6px #0f35bf;
}

input[type="button"]:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

.block_button_sub{
    display: none;
}

.select-wrapper {
    position: relative;
    width: 330px;
    margin: 10px 0;
}

.select-wrapper select {
    width: 330px;
    height: 49px;
    padding: 0 20px 0 7px;
    background: #17181F;
    border: 0;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.select-wrapper select::-ms-expand{
    display: none;             /* remove arrow IE     */
}

.select-arrow-3 {
    position: absolute;
    border: 8px solid transparent; 
    border-bottom: 0;
    right: 6px;
}

.select-arrow-3:nth-child(1) {
    top: 20px;
    right: 20px;
    border-top-color: #ffffff;
    cursor: pointer;
}

.select-arrow-3:nth-child(2) {
    top: 16px;
    right: 20px;
    border-top-color: #17181f;
    cursor: pointer;
}

.note{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 30px;
}

.line_settings_input{
    display: flex;
    align-items: center;
    position: relative;
}

#password-input {
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

#password-input[readonly]{
    background-color: #2e303d;
    outline: none;
}

#password-input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.password-control {
	position: absolute;
	top: 15px;
	right: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/view.svg) 0 0 no-repeat;
}

.password-control.view {
	background: url(../images/no-view.svg) 0 0 no-repeat;
}

.button_sub{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 12.5px 30px;
    background-color: #0f35bf;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
    position: static;
}

.button_sub:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                0 0 2px #0f35bf,
                0 0 4px #0f35bf,
                0 0 6px #0f35bf;
}

.button_sub:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

.block_settings_input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top_block{
    margin-top: 5px;
}

.top_sep{
    margin-top: 7px;
}

#static-input {
    padding: 15px;
    margin-top: 10px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    position: relative;
}

/*прошивка*/

.block_maintbl{
    margin-left: 30px;
}

#upload_form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#file-input{
    cursor: pointer;
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    width: 300px;
}

.btn{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 12.5px 30px;
    background-color: #0f35bf;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
    position: static;
    margin: 20px 0;
    cursor: pointer;
}

.btn:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                0 0 2px #0f35bf,
                0 0 4px #0f35bf,
                0 0 6px #0f35bf;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

#prgbar {
	margin: 10px 0px;
}

#bar {
	background-color: #3498db;
	width: 0%;
	height: 10px;
    border-radius: 10px;
}

#prg{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 5px;
}

#prg_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.tooltip {
    position: relative;
    display: inline-flex;
    margin-left: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #17181F;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    z-index: 1;
    left: 140%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip_status {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #17181F;
}

.tooltip_status .tooltiptext_status {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
}

.tooltip_status .tooltiptext_status::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip_status:hover .tooltiptext_status {
    visibility: visible;
}

.line{
    display: flex;
    align-items: center;
}

.line_settings_input_mm{
    display: flex;
    align-items: center;
}

#timeSwitchPriority,
#с0_time, #с1_time, 
#channel, #enable_eth, #enable,
#maxconnection{
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

#enable_eth[readonly], #enable[readonly], #channel[readonly],
#maxconnection[readonly]{
    background-color: #2e303d;
    outline: none;
}

#n0_l1_min, #n0_l1_max, #n0_l2_min, #n0_l2_max,
#n0_l3_min, #n0_l3_max, #n0_l4_min, #n0_l4_max,
#n1_l1_min, #n1_l1_max, #n1_l2_min, #n1_l2_max,
#n1_l3_min, #n1_l3_max, #n1_l4_min, #n1_l4_max{
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 115px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

.block_settings_ats{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.block_main_settings{
    display: flex;
    justify-content: center;
}

#form_index{
        display: flex;
    justify-content: center;
}

.block_scheme{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_scheme_first:first-of-type{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-size: cover;
}

.block_scheme_second:last-of-type{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-size: cover;
}

#Radio_1:checked ~ .block_scheme_first:first-of-type,
#Radio_2:checked ~ .block_scheme_second:last-of-type {
    display: none;
}

.title_in{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    background-color: #17181F;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.title_in:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

.title_in:hover{
    background-color: #2e303d;
}

.block_button_radio{
    display: flex;
}

.form_radio_btn {
	display: inline-block;
    margin: 0px 40px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}

.form_radio_btn input[type=radio]:checked + label {
	text-decoration: underline;
    color: #21b400;
}

/* Hover */
.form_radio_btn label:hover {
	color: #929292;
}

.block_in{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.index_img{
    width: 230px;
    height: 300px;
}

.icon_in{
    width: 50px;
}

.block_options_main{
    margin-top: 165px
}

.block_options_burger{
    display: flex;
}

.block_options{
    margin: 25px;
}

#input_options{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 25px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    width: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
    outline: none;
    text-align: center;
}

.btn_save{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin-left: 30px;
}

.hamburger-menu{
    display: none;
}

.block_static{
    display: flex;
}

.block_input_wrapper{
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.block_input_little{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label_mm{
    margin-bottom: 10px;
}

/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}

/* кнопка закрытия окна */
.modal .btn-close {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    right: -229px;
    top: 13px;
}

.modal .btn-close:hover {
    color: red;
}

/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgb(0 0 0 / 90%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 15%;
}

/* элементы модального окна */
.modal-dialog {
    background: #17181F;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}

.modal-body {
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body p {
    margin: 0;
}

.modal-header {
    border-bottom: #fff solid 1px;
    padding: 25px 20px;
}

.modal-header h2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.modal-footer {
    border-top: #fff solid 1px;
    text-align: center;
    padding: 40px 20px;
}

/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}

#raz {
    position: relative;
    display: inline-block;
}

#raz_s {
    position: relative;
    display: inline-block;
}

#raz input {
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

#raz_s input {
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 115px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

#raz input::-webkit-inner-spin-button { 
    display: none;
}
#raz span {
    position: absolute;
}

#raz_s input::-webkit-inner-spin-button { 
    display: none;
}
#raz_s span {
    position: absolute;
}

@supports (clip-path: polygon(50% 60%, 10% 90%, 90% 90%)) {
    #raz span {
        right: 20px;
        width: 20px;
        height: 52%;
        background: rgb(255, 255, 255);
        cursor: pointer;
    }
    #raz span:hover {
        background: #fff;
    }
    #raz span:nth-of-type(1) {
        top: -2px;
        clip-path: polygon(50% 60%, 10% 90%, 90% 90%);
    }
    #raz span:nth-of-type(2) {
        bottom: -2px;
        clip-path: polygon(50% 40%, 10% 10%, 90% 10%);
    }
}

@supports (clip-path: polygon(50% 30%, 10% 90%, 90% 90%)) {
    #raz_s span {
        right: 20px;
        width: 20px;
        height: 52%;
        background: rgb(255, 255, 255);
        cursor: pointer;
    }
    #raz_s span:hover {
        background: #fff;
    }
    #raz_s span:nth-of-type(1) {
        top: -2px;
        clip-path: polygon(50% 60%, 10% 90%, 90% 90%);
    }
    #raz_s span:nth-of-type(2) {
        bottom: -2px;
        clip-path: polygon(50% 40%, 10% 10%, 90% 10%);
    }
}

.crypto_ui_3-select {
    position: relative;
    display: inline-block;
    background-color:#17181F;
    outline: none;
    border: none;
}

.crypto_ui_3-select option{
    background-color:#17181F;
}

.crypto_ui_3-select select {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 15px;
    width: 330px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.crypto_ui_3-select select::-ms-expand {
    display: none;
}

.crypto_ui_3-select_arrow {
    position: absolute;
    top: 16px;
    right: 25px;
    width: 0.1875rem;
    height: 0.1875rem;
    border: solid #ffffff;
    border-width: 0 0.1875rem 0.1875rem 0;
    display: inline-block;
    padding: 0.1875rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.block_span{
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
    margin-bottom: 12px;
}

.block_network_mode{
    display: flex;
    padding: 8px 30px;
}

.line_serv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label_serv{
    width: 55px; 
}

#add_request {
    padding: 15px;
    border: #ffffff;
    border-radius: 2px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #17181F;
    transition: 0.2s;
}

#clear_x {
	position: relative;
	right: 50px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/cross.svg) 0 0 no-repeat;
}

#button_serv{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 12.5px 45px;
    background-color: #0f35bf;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
}

#button_serv:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                0 0 2px #0f35bf,
                0 0 4px #0f35bf,
                0 0 6px #0f35bf;
}

#button_serv:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

#button_serv_stop{
    background-color: red;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 12.5px 49px;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
}

#button_serv_stop:hover{
    background:red;
    color: #ffffff;
    box-shadow: 0 0 1px red,
                0 0 2px red,
                0 0 4px red,
                0 0 6px red;
}

#button_serv_stop:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

#button_serv_clear{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 12.5px 30px;
    background-color: #0f35bf;
    border: none;
    border-radius: 2px;
    transition: 0.2s;
    text-decoration: none;
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

#button_serv_clear:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                0 0 2px #0f35bf,
                0 0 4px #0f35bf,
                0 0 6px #0f35bf;
}

#button_serv_clear:active {
    transform: scale(0.95);
    box-shadow: 15px 10px 20px 5px rgba(0, 0, 0, 0.24);
}

.block_main_serv{
    display: flex;
    align-items: center;
}

.block_main_serv_{
    display: flex;
    align-items: center;
}

.block_serv{
    display: flex;
}

.block_clear{
    display: flex;
}

.wrapper_3015{
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.wrapper_button{
    margin-left: 30px;
    margin-right: 15px;
}

.textarea_res{
    max-width: 840px; 
    width: 100%;
    background-color: #17181F;
    outline: none;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    overflow: scroll;
    display: flex;
}

.wrapper_is{
    margin-top: 11px;  
    margin-right: 42px;
}

.block_fixed {
    position: absolute;
    top: 0;
    right: 0;
}

.fixed {
    position: fixed;
    transform: translateX(-100%);
    top: 64px;
    z-index: 3;
}

@media (max-width: 1115px){
    .header{
        margin-right: 25px;
    }
}

@media (max-width: 1024px){
    .title_menu_main{
        display: none;
    }
    .container_menu{
        margin-right: 30px;
    }
}

@media (max-width: 900px){
    input[type="text"], 
    #password-input, #enable,
    #channel, #maxconnection,
    #enable_eth, select,
    #timeSwitchPriority, #с0_time, 
    #с1_time, #raz input
    {
        width: 250px;
    }
    .crypto_ui_3-select select
    {
        width: 280px;
    }
    #add_request{
        width: 250px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .fat{
        width: 100%;
    }
    .label_mm{
        display: none;
    }
    .block_input_wrapper{
        width: 295px;
    }
    #n0_l1_min, #n0_l1_max, #n0_l2_min, #n0_l2_max,
    #n0_l3_min, #n0_l3_max, #n0_l4_min, #n0_l4_max,
    #n1_l1_min, #n1_l1_max, #n1_l2_min, #n1_l2_max,
    #n1_l3_min, #n1_l3_max, #n1_l4_min, #n1_l4_max{
        width: 90px;
        margin-top: 10px;
    }
    .block_ssid{
        flex-direction: column;
    }
    .block_static{
        flex-direction: column;
    }
    .line_settings_input_mm{
        flex-direction: column;
        align-items: flex-start;
    }
    .block_main_serv{
        align-items: flex-start;
        flex-direction: column;
    }
    .block_main_serv_{
        flex-direction: column;
        align-items: flex-start;
    }
    .block_clear{
        flex-direction: column;
    }
    #clear_x{
        position: relative;
        left: 271px;
        top: -40px;
    }
    .label_serv{
        margin-bottom: 5px;
    }
    @supports (clip-path: polygon(50% 30%, 10% 90%, 90% 90%)) {
        #raz_s span {
            right: 20px;
            width: 20px;
            height: 52%;
            background: rgb(255, 255, 255);
            cursor: pointer;
        }
        #raz_s span:hover {
            background: #fff;
        }
        #raz_s span:nth-of-type(1) {
            top: 4px;
            clip-path: polygon(50% 60%, 10% 90%, 90% 90%);
        }
        #raz_s span:nth-of-type(2) {
            bottom: -7px;
            clip-path: polygon(50% 40%, 10% 10%, 90% 10%);
        }
    }
}

@media (max-width: 768px) {
    body.lock{
        overflow: hidden;
    }
    .header_body{
        height: 75px;
    }
    .wrapper_is{
        margin-top: 68px;  
        margin-right: 18px;
    }
    .block_status {
        justify-content: flex-start;
        margin-left: 13px;
    }
    .header_logo{
        margin-left: 90px;
    }
    .container_settings {
        margin-right: 20px;
        margin-top: 107px;
    }
    .container_menu{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .block_status_main{
        display: none;
    }
    .block_status_main_is{
        display: none;
    }
    .block_go_back_button{
        top: 75px
    }
    .line_settings_input {
        flex-direction: column;
        align-items: flex-start;
    }
    label{
        margin-bottom: 5px;
    }
    .password-control {
        top: 37px;
    }
    .block_network_mode{
        flex-direction: column;
        align-items: flex-start;
    }
    .block_span {
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        left: 25px;
        top: 38px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 10;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 100px 0;
        list-style: none;
        background-color: #17181F;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 1;
        overflow:auto;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      li{
        display: flex;
        align-items: center;
        margin: 10px 20px;
      }
}

@media (max-width: 705px){
    .block_options_main{
        display: none;
    }
    .block_button_sub{
        display: block;
    }
    .block_button_sub{
        padding: 20px 0px;
        justify-content: center;
    }
}

@media (max-width: 425px){
    .container_settings {
        margin-right: 20px;
        margin-top: 130px;
    }
    .top_block{
        margin-top: 15px;
    }
    .main_title_text {
        font-size: 23px;
    }
    .checkbox {
        font-size: 18px;
    }
    .checkbox_right {
        margin-right: 10px;
    }
    .block_settings, 
    .block_network_mode {
        padding: 10px 30px;
    }
    .block_maintbl{
        margin-left: 30px;
    }
    .container{
        padding: 0px;
        margin: 0px;
    }
    .block_settings_title {
        margin: 0px 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .block_icon_status {
        margin: 5px;
    }
    .icon_status {
        width: 30px;
    }
    .block_options_burger {
        flex-direction: column;
    }
    .block_settings_index {
        padding: 20px 30px;
    }
    input[type="text"], 
    #password-input, #enable,
    #channel, #maxconnection,
    #enable_eth, select,
    #timeSwitchPriority,#с0_time, 
    #с1_time, #file-input, #raz input{
        width: 265px;
    }
    .crypto_ui_3-select select {
        width: 295px;
    }
    #add_request{
        width: 265px;
    }
    .block_settings_title_s{
        padding: 15px 30px;
    }
    .wrapper_3015{
        margin: 5px 30px;
    }
    .wrapper_button{
        margin: 5px 20px;
    }
    .block_main_serv{
        align-items: center;
    }
    .block_serv{
        flex-direction: column;
    }
    .tooltip .tooltiptext {
        top: 125%;
        left: -470%;
    }
    #button_serv_clear, .btn
    {
        padding: 12px 103px;
    }
    #button_serv{
        padding: 12px 118px;
    }
    #button_serv_stop{
        padding: 12px 122px;
    }
    #clear_x{
        left: 118px;
    }
    #raz span, #raz_s span{
        display: none;
    }
    #raz_s input{
        width: 105px;
    }
}

@media (max-width: 320px){
    .container_settings{
        margin-right: 0px;
    }
    input[type="text"], 
    #password-input, #enable,
    #channel, #maxconnection,
    #enable_eth, select{
        width: 260px;
    }
    .block_settings{
        padding: 20px 14px;
    }
    .block_settings_title{
        padding: 20px 14px;
    }
    .top_block{
        margin-top: 0;
    }
    .checkbox_right{
        margin-right: 10px;
    }
    .hamburger-menu{
        margin-left: -23px;
    }
    #input_options{
        margin: 10px 0px;
    }
    .container_settings_ms{
        margin-right: 0px;
    }
}