<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бизнес управление</title>
    <link href="../static/static.css" rel="stylesheet"/>
    <link rel="icon" href="../images/icon.svg" type="image/x-icon">
    <script defer src="../assets/index.js"></script>
</head>
<body>
    <header>
        <div class="header_body">
            <div class="header_logo">
                <img class="logo" src="../images/logo.svg" alt="">
                <ul class="header_list">
                    <li><a href="../templates/index.html" class="header_link">Мои задачи</a></li>
                    <li><a href="../templates/buisness.html" class="header_link">Бизнес управление</a></li>
                    <li><a href="../templates/control.html" class="header_link" style="text-decoration: underline;">Контроль</a></li>
                </ul>
            </div>
            <div class="header_burger">
                <span></span>
            </div>
            <ul class="header_list">
                <li>
                <a href="../templates/chat.html"><img class="icon" src="../images/chat.svg" alt=""></a>
                </li>
                <li>
                <a href="../templates/settings.html"><img class="icon" src="../images/settings.svg" alt=""></a>
                </li>
                <li>
                <img class="icon" src="../images/user.svg" style="margin-right: 5px;" alt="">
                <a href="../templates/user.html" class="header_link" id="user_id">Main user</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">

    </div>
</body>
</html>