<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контроль</title>
    <link href="../static/static.css" rel="stylesheet"/>
    <link rel="icon" href="../images/icon.svg" type="image/x-icon">
    <script defer src="../assets/control.js"></script>
</head>
<body>
  <header>
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" style="display: none;"/>
      <label class="menu__btn" for="menu__toggle">
          <span></span>
      </label>
      <ul class="menu__box">
        <ul class="header_list_menu_first">
          <li><a href="../templates/index.html" class="header_link">Мои задачи</a></li>
          <li><a href="../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
          <li><a href="#" class="header_link" style="text-decoration: underline;">Контроль</a></li>
        </ul>
        <ul class="header_list_menu_second">
          <li>
            <a href="../templates/chat.html"><img class="icon" src="../images/chat.svg" alt=""></a>
          </li>
        </ul>
        <ul class="header_list_menu_third">
          <li>
            <img class="icon_ava" src="../images/user.svg" style="margin-right: 5px;" alt="">
            <a href="../templates/user.html" class="header_link" id="user_id">Main user</a>
          </li>
          <li>
            <a href="https://dev.proektit.ru" style="display: flex;"><img class="icon" src="../images/logout.svg" style="height: 25px;" alt=""></a>
          </li>
        </ul>
      </ul>
    </div>
    <div class="header_body">
      <div class="header_logo">
        <img class="logo" src="../images/logo.svg" alt="">
        <img class="logo_lt" src="../images/logo_lt.svg" alt="">
        <ul class="header_list">
          <li><a href="../templates/index.html" class="header_link">Мои задачи</a></li>
          <li><a href="../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
          <li><a href="../templates/control.html" class="header_link check">Контроль</a></li>
          <li><a href="#" class="header_link">Чат</a></li>
        </ul>
      </div>
      <div class="header_list__user">
        <ul>
          <li id="sidebar_tablink_user">
            <div class="header_list__user-container">
              <div>
                <img class="icon_ava" src="../images/user.svg" alt="">
                <a id="user_id">Иванов И. И.</a>
              </div>
              <img src="../images/arrow_down_sidebar.svg" class="arrow_user" alt="">
            </div>
            <ul class="sub-menu__user">
              <li><a class="tablinks_first" id="" href="../templates/user/notifications.html">Уведомления</a></li>
              <li><a class="tablinks_first" id="" href="../templates/user/rules.html">Права</a></li>
              <li><a class="tablinks_first" id="" href="../templates/user/change_pass.html">Смена пароля</a></li>
              <li><a class="tablinks_first" id="" onclick="handleLeaveSite()">Выход</a></li>
              <li>
                <label id="switch" class="switch">
                  <input type="checkbox" onchange="toggleTheme()" id="slider">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <nav class="sidebar">
      <div class="sidebar-top-wrapper">
        <button class="expand-btn" type="button">
          <img src="../images/arrow_sidebar_r.svg" alt="">
        </button>
      </div>
      <div class="sidebar-links">
        <ul>
          <li id="sidebar_tablink_1">
            <div class="icon-link sidebar_tablinks" id="defaultOpenSidebar" onclick="openTabSidebar(event, 'settings')">
              <div>
                  <img src="../images/settings.svg" class="icon" alt="">
                  <span class="link_name">Настройки</span>
              </div>
            </div>
          </li>
          <li id="sidebar_tablink_2">
            <div class="icon-link sidebar_tablinks" onclick="openTabSidebar(event, 'template_task')">
              <div>
                  <img src="../images/template_task.svg" class="icon" alt="">
                  <span class="link_name">Шаблоны</span>
              </div>
            </div>
          </li>
          <li id="sidebar_tablink_3">
            <div class="icon-link sidebar_tablinks" onclick="openTabSidebar(event, 'control_task')">
              <div>
                  <img src="../images/control_task.svg" class="icon" alt="">
                  <span class="link_name">Контроль</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="block_main_tabs sidebar_tabcontent" id="settings">
      <!-- пользователи -->
      <div id="settings/users" class="tabcontent">
        <div class="tab_child">
          <a href="#settings/users"><button class="tablinks_settings tablinks_users" name="non_child" onclick="openTabSecond(event, 'tablinks_settings', 'tablinks_users')"><img src="../images/users.svg" class="icon icon_tab">Пользователи</button></a>
        </div>
        <div class="small_tabs">
          <a href="#settings/users/main"><button class="tablinks_users_third tablinks_users_main" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_main', funcGetUsers())"><img src="../images/users.svg" class="icon icon_tab">Главная</button></a>
          <a href="#settings/users/jobs"><button class="tablinks_users_third tablinks_users_jobs" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_jobs', funcGetJobs())"><img src="../images/user_jobs.svg" class="icon icon_tab">Должности</button></a>
          <a href="#settings/users/rights"><button class="tablinks_users_third tablinks_users_rights" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_rights', funcGetRights())"><img src="../images/user_rights.svg" class="icon icon_tab">Права</button></a>
        </div>
      </div>
      <!-- пользователи главная -->
      <div id="settings/users/main" class="tabcontent">
        <div class="tab_child">
          <a href="#settings/users"><button class="tablinks_settings tablinks_users" name="non_child" onclick="openTabSecond(event, 'tablinks_settings', 'tablinks_users')"><img src="../images/users.svg" class="icon icon_tab">Пользователи</button></a>
        </div>
        <div class="small_tabs">
          <a href="#settings/users/main"><button class="tablinks_users_third tablinks_users_main" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_main', funcGetUsers())"><img src="../images/users.svg" class="icon icon_tab">Главная</button></a>
          <a href="#settings/users/jobs"><button class="tablinks_users_third tablinks_users_jobs" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_jobs', funcGetJobs())"><img src="../images/user_jobs.svg" class="icon icon_tab">Должности</button></a>
          <a href="#settings/users/rights"><button class="tablinks_users_third tablinks_users_rights" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_rights', funcGetRights())"><img src="../images/user_rights.svg" class="icon icon_tab">Права</button></a>
        </div>
        <div class="block_serv">
          <div class="block-sort__filter">
            <select id="sort_users">
              <option value="">Сортировка &#8661;</option>
              <option value="">По названию &#8659;</option>
              <option value="">По названию &#8657;</option>
              <option value="">По новизне &#8659;</option>
              <option value="">По новизне &#8657;</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
              <tr>
                <td class="td_main"></td>
                <td class="td_main">№</td>
                <td class="td_main">ФИО</td>
                <td class="td_main">Должность</td>
                <td class="td_main">Почта</td>
                <td class="td_main">Телефон</td>
                <td class="td_main"></td>
              </tr>
          </thead>
          <tbody id="tb_users">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="cell_button"><button class="button_add" onclick="funcInfoUserOpenModalAdd()"><img src="../images/plus.svg" alt=""></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- должности -->
      <div id="settings/users/jobs" class="tabcontent">
        <div class="tab_child">
          <a href="#settings/users"><button class="tablinks_settings tablinks_users" name="non_child" onclick="openTabSecond(event, 'tablinks_settings', 'tablinks_users')"><img src="../images/users.svg" class="icon icon_tab">Пользователи</button></a>
        </div>
        <div class="small_tabs">
          <a href="#settings/users/main"><button class="tablinks_users_third tablinks_users_main" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_main', funcGetUsers())"><img src="../images/users.svg" class="icon icon_tab">Главная</button></a>
          <a href="#settings/users/jobs"><button class="tablinks_users_third tablinks_users_jobs" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_jobs', funcGetJobs())"><img src="../images/user_jobs.svg" class="icon icon_tab">Должности</button></a>
          <a href="#settings/users/rights"><button class="tablinks_users_third tablinks_users_rights" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_rights', funcGetRights())"><img src="../images/user_rights.svg" class="icon icon_tab">Права</button></a>
        </div>
        <div class="block_serv">
          <div class="block-sort__filter">
            <select id="sort_jobs">
              <option value="">Сортировка &#8661;</option>
              <option value="">По названию &#8659;</option>
              <option value="">По названию &#8657;</option>
              <option value="">По новизне &#8659;</option>
              <option value="">По новизне &#8657;</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <td class="td_main">Должность</td>
              <td class="td_main"></td>
            </tr>
          </thead>
          <tbody id="tb_jobs">
            <tr>
              <td><input type="text" id="input_add_jobs" style="border: 1px solid var(--border);"></td>
              <td class="cell_button"><button class="button_add" onclick="funcAddRowJobs()"><img src="../images/plus.svg" alt=""></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- права -->
      <div id="settings/users/rights" class="tabcontent">
        <div class="tab_child">
          <a href="#settings/users"><button class="tablinks_settings tablinks_users" name="non_child" onclick="openTabSecond(event, 'tablinks_settings', 'tablinks_users')"><img src="../images/users.svg" class="icon icon_tab">Пользователи</button></a>
        </div>
        <div class="small_tabs">
          <a href="#settings/users/main"><button class="tablinks_users_third tablinks_users_main" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_main', funcGetUsers())"><img src="../images/users.svg" class="icon icon_tab">Главная</button></a>
          <a href="#settings/users/jobs"><button class="tablinks_users_third tablinks_users_jobs" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_jobs', funcGetJobs())"><img src="../images/user_jobs.svg" class="icon icon_tab">Должности</button></a>
          <a href="#settings/users/rights"><button class="tablinks_users_third tablinks_users_rights" onclick="openTabThird(event, 'tablinks_users_third', 'tablinks_users_rights', funcGetRights())"><img src="../images/user_rights.svg" class="icon icon_tab">Права</button></a>
        </div>
        <div class="block_serv">
          <div class="block-sort__filter">
            <select id="sort_rights">
              <option value="">Сортировка &#8661;</option>
              <option value="">По названию &#8659;</option>
              <option value="">По названию &#8657;</option>
              <option value="">По новизне &#8659;</option>
              <option value="">По новизне &#8657;</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <td class="td_main">Право</td>
              <td class="td_main"></td>
            </tr>
          </thead>
          <tbody id="tb_rights">
            <tr>
              <td><input type="text" id="input_add_rights" style="border: 1px solid var(--border);"></td>
              <td class="cell_button"><button class="button_add" onclick="funcAddRowRights()"><img src="../images/plus.svg" alt=""></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="block_main_tabs sidebar_tabcontent" id="template_task">
      <p>Шаблоны задач</p>
    </div>
    <div class="block_main_tabs sidebar_tabcontent" id="control_task">
      <p>Контроль задач</p>
    </div>
    <div id="modal_info_user" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <p>Информация о пользователе</p>
          <span class="close" id="close_info_user">&times;</span>
        </div>
        <div class="modal-body">
          <div>
            <div class="block_task_inputs">
              <label for="user_name">ФИО:</label>
              <input type="text" id="user_name" value="">
            </div>
            <div class="block_task_inputs">
              <label for="user_job">Должность:</label>
              <select id="user_job"></select>
            </div>
          </div>
          <div>
            <div class="block_task_inputs">
              <label for="user_email">Почта:</label>
              <input type="text" id="user_email" value="">
            </div>
            <div class="block_task_inputs">
              <label for="user_phone">Телефон:</label>
              <input type="text" id="user_phone" value="">
            </div>
          </div>
          <table>
            <thead>
              <td class="td_main"></td>
              <td class="td_main">Права</td>
            </thead>
            <tbody id="tb_user_rights">

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button class="button_sub" id="user_save" style="display: none;" onclick="funcUpdateRowUsers(this)" value=""><img src="../images/button/chb/checkbox.svg" alt=""></button>
          <button class="button_sub" id="user_add" style="display: none;" onclick="funcAddRowUsers()" value=""><img src="../images/plus.svg" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>