<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бизнес управление</title>
    <link href="../static/static.css" rel="stylesheet"/>
    <link rel="icon" href="../images/icon.svg" type="image/x-icon">
    <script defer src="../assets/index.js"></script>
</head>
<body>
    <header>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" style="display: none;"/>
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
        <ul class="menu__box">
          <ul class="header_list_menu_first">
            <li><a href="../templates/index.html" class="header_link">Мои задачи</a></li>
            <li><a href="../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
            <li><a href="#" class="header_link">Контроль</a></li>
            <li><a href="#" class="header_link">Чат</a></li>
          </ul>
          <ul class="header_list_menu_third">
            <li>
              <img class="icon_ava" src="../images/user.svg" style="margin-right: 5px;" alt="">
              <a href="../templates/user.html" class="header_link" id="user_id">Main user</a>
            </li>
            <li>
              <a href="https://dev.proektit.ru" style="display: flex;"><img class="icon" src="../images/logout.svg" style="height: 25px;" alt=""></a>
            </li>
          </ul>
        </ul>
      </div>
      <div class="header_body">
        <div class="header_logo">
          <img class="logo" src="../images/logo.svg" alt="">
          <img class="logo_lt" src="../images/logo_lt.svg" alt="">
          <ul class="header_list">
            <li><a href="../templates/index.html" class="header_link check">Мои задачи</a></li>
            <li><a href="../templates/buisness.html#schedule" class="header_link">Бизнес управление</a></li>
            <li><a href="../templates/control.html" class="header_link">Контроль</a></li>
            <li><a href="#" class="header_link">Чат</a></li>
          </ul>
        </div>
        <div class="header_list__user">
          <ul>
            <li id="sidebar_tablink_user">
              <div class="header_list__user-container">
                <div>
                  <img class="icon_ava" src="../images/user.svg" alt="">
                  <a id="user_id">Иванов И. И.</a>
                </div>
                <img src="../images/arrow_down_sidebar.svg" class="arrow_user" alt="">
              </div>
              <ul class="sub-menu__user">
                <li><a class="tablinks_first" id="" href="../templates/user/notifications.html">Уведомления</a></li>
                <li><a class="tablinks_first" id="" href="../templates/user/rules.html">Права</a></li>
                <li><a class="tablinks_first" id="" href="../templates/user/change_pass.html">Смена пароля</a></li>
                <li><a class="tablinks_first" id="" onclick="handleLeaveSite()">Выход</a></li>
                <li>
                  <label id="switch" class="switch">
                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                    <span class="slider round"></span>
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
        <nav class="tasks">
            <table>
              <thead>
                <tr>
                  <td class="td_main">Статус</td>
                  <td class="td_main">Задача</td>
                </tr>
              </thead>
              <tbody id="">
                <tr style="    background-color: var(--background_first);">
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td style="text-decoration: underline;">Задача №1</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №2</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №3</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №4</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td>Задача №5</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №6</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №7</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №8</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td>Задача №9</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №10</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №11</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №12</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td>Задача №13</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №14</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №15</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №16</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td>Задача №17</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №18</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №19</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №20</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_green.svg" alt=""></td>
                  <td>Задача №21</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_blue.svg" alt=""></td>
                  <td>Задача №22</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_orange.svg" alt=""></td>
                  <td>Задача №23</td>
                </tr>
                <tr>
                  <td><img src="../images/ellipse_red.svg" alt=""></td>
                  <td>Задача №24</td>
                </tr>
              </tbody>
            </table>
        </nav>
        <div class="block-task">
            <div class="block-task__inputs">
                <div class="block-task__inputs__first">
                    <div class="block-task__inputs__first__info">
                        <label for="task_admin">Админ</label>
                        <input type="text" name="task_admin" id="task_admin" value="Иванов Иван Иванович">
                    </div>
                    <div class="block-task__inputs__first__info">
                        <label for="task_name">Название</label>
                        <input type="text" name="task_name" id="task_name" value="Задача №1">
                    </div>
                    <div class="block-task__inputs__first__info">
                        <label for="task_status">Статус</label>
                        <input type="text" name="task_status" id="task_status" value="В работе">
                    </div>
                    <div class="block-task__inputs__first__info">
                      <label for="task_contragents">Контрагент</label>
                      <select id="task_contragents"><option value=" ">-- Выберите контрагента --</option></select>
                    </div>
                    <div class="block-task__inputs__first__info">
                        <label for="task_comment">Комментарий</label>
                        <input type="text" name="task_comment" id="task_comment" value="">
                    </div>
                </div>
                <div class="block-task__inputs__second">
                    <label for="task_date_first">Срок</label>
                    <div class="block-task__inputs__second__info">
                      <input type="date" name="task_date_first" id="task_date_first" value="2024-07-05">
                      <input type="time" name="task_time_first" id="task_time_first" value="15:00">
                    </div>
                    <div class="block-task__inputs__second__info">
                        &ensp;-&ensp;
                    </div>
                    <div class="block-task__inputs__second__info">
                        <input type="date" name="task_date_second" id="task_date_second" value="2024-07-10">
                        <input type="time" name="task_time_second" id="task_time_second" value="15:00">
                    </div>
                </div>
            </div>
            <div class="task_buttons">
              <div class="task_tab">
                  <button class="tablinks" onclick="openTabMain(event, 'sets')" id="defaultOpen"><img src="../images/sets.svg" class="icon icon_tab" alt="">Комплекты</button>
                  <button class="tablinks" onclick="openTabMain(event, 'products')"><img src="../images/products.svg" class="icon icon_tab" alt="">Изделия</button>
                  <button class="tablinks" onclick="openTabMain(event, 'components')"><img src="../images/components.svg" class="icon icon_tab" alt="">Комплектующие</button>
              </div>
              <input type="button" class="button_serv" id="button_shipment" onclick="getCheckSets()" value="Отгрузить">
              <div id="modal_shipment" class="modal">
                  <div class="modal-content">
                  <div class="modal-header">
                      <p>Вы выбрали:</p>
                      <span class="close">&times;</span>
                  </div>
                  <div class="modal-body">
                    <table id="main_tb_sets_model">
                      <thead>
                          <tr>
                              <td class="td_main">Название</td>
                              <td class="td_main">Количество</td>
                          </tr>
                      </thead>
                      <tbody id="tb_sets_model">
          
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                      <button class="button_serv" id="button_sub"  onclick="window.location='../templates/result_table.html';">Подтвердить</button>
                  </div>
                  </div>
              </div>
          </div>
          <div id="sets" class="tabcontent_task">
            <form>
              <table>
                <thead>
                    <tr>
                        <td class="td_main"></td>
                        <td class="td_main">Название</td>
                        <td class="td_main">Количество</td>
                    </tr>
                </thead>
                <tbody id="tb_sets">
    
                </tbody>
              </table>
            </form>
          </div>
          <div id="products" class="tabcontent_task">
            <form>
              <table>
                <thead>
                    <tr>
                        <td class="td_main"></td>
                        <td class="td_main">Название</td>
                        <td class="td_main">Количество</td>
                    </tr>
                </thead>
                <tbody id="tb_products">
    
                </tbody>
              </table>
            </form>
          </div>
          <div id="components" class="tabcontent_task">
            <form>
              <table>
                <thead>
                    <tr>
                        <td class="td_main"></td>
                        <td class="td_main">Название</td>
                        <td class="td_main">Количество</td>
                    </tr>
                </thead>
                <tbody id="tb_components">
    
                </tbody>
              </table>
            </form>
          </div>
        </div>
    </div>
</body>
</html>