main {
	flex-direction: row;
	flex: 0;
	gap: 30px;
	display: flex;
}
@media screen and (max-width: 650px) {
	main {
		flex-direction: column;
	}
	main div {
		width: 75%;
	}
}

main input, select {
	min-width: 75%;
	border: 2px solid #879fa8;
	border-radius: 5px;
	display: inline-block;
}

main div {
	box-sizing: border-box;
	background-color: #f5f5f5;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 0 11px #223c5033;
}
main div h2 {
	margin-top: 0;
}
main div span {
	
	display: inline-block;
}
/*
main div span: {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 30px;
}
*/
main div .led-on {
	background-color: #879fa8;
}

