<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>AvG мониторинг</title>
        <link href="../static/static.css" rel="stylesheet" />
        <link href="../fontawesome/all.min.css" rel="stylesheet">
        <link rel="icon" href="../images/icon.svg" type="image/x-icon">
        <script defer src="../assets/communication_dash.js"></script>
        <script defer src="../assets/chart.min.js"></script>
    </head>
<body>
    <div class="wrapper">
        <header>
            <div class="header_body">
                <div class="header_logo">
                    <img class="logo" src="../images/logo_w.svg" alt="">
                    <div class="seporator_grz"></div>
                    <ul class="header_list">
                        <li><a href="../templates/index.html" class="header_link">Список объектов</a></li>
                        <li><a href="../templates/events.html" class="header_link">События</a></li>
                        <li><a href="" class="header_link">Ведение карточек</a></li>
                    </ul>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <ul class="header_list">
                    <li>
                        <div class="la-ball-scale-pulse" id="user_online_cl">
                            <div></div>
                            <div></div>
                        </div>
                        <img src="../images/red_circle.svg" alt="" id="user_offline_cl" style="display: none;">
                        <a class="header_link" id="user_online" style="display: block;">Онлайн</a>
                        <a class="header_link" id="user_offline" style="display: none;">Офлайн</a>
                    </li>
                    <div class="seporator_grz" style="margin-left: 50px;"></div>
                    <li style="margin-right: 40px;">
                        <a href="../templates/user.html" class="header_link" id="user_id"></a>
                        <img class="lt_icon" src="../images/user.svg" alt="">
                    </li>
                </ul>
            </div>
        </header>
        <div class="seporator_wrt"></div>
        <div class="wrapper_hist">
            <div class="block_hist" onclick="window.location='../templates/index.html';">
                <div class="block_title_hist">
                    <a class="title_hist">Объекты</a>
                </div>
                <canvas id="db_objects" width="70" height="70"></canvas>
            </div>
            <div class="block_hist" onclick="window.location='../templates/alarm.html#content_objs';">
                <div class="block_title_hist">
                    <a class="title_hist">Тревоги</a>
                </div>
                <canvas id="db_alarm" width="70" height="70"></canvas>
            </div>
            <div class="block_hist" onclick="window.location='../templates/communication.html';">
                <div class="block_title_hist">
                    <a class="title_hist">Связь</a>
                </div>
                <canvas id="db_communication" width="70" height="70"></canvas>
            </div>
            <div class="block_hist" onclick="window.location='../templates/power.html';">
                <div class="block_title_hist">
                    <a class="title_hist">Питание</a>
                </div>
                <canvas id="db_power" width="70" height="70"></canvas>
            </div>
            <div class="block_hist" onclick="window.location='../templates/faults.html';">
                <div class="block_title_hist">
                    <a class="title_hist">Неиспр.</a>
                </div>
                <canvas id="db_faults" width="70" height="70"></canvas>
            </div>
            <div class="block_hist" onclick="window.location='../templates/system.html';">
                <div class="block_title_hist">
                    <a class="title_hist">Система</a>
                </div>
                <img src="../images/histogram.svg" class="img_hist">
            </div>
            <div class="app-chart__canvas">
                <canvas class="chart" style="width: 930px; height: 140px;"></canvas>
            </div>
        </div>
        <div class="main_block_canvas">
            <div class="block_canvas">
                <div class="block_title_hist">
                    <a class="title_hist">Контроль связи</a>
                </div>
                <canvas id="canvas_comm_main" style="max-width: 220px; max-height: 220px;"></canvas>
            </div>
            <div class="block_canvas">
                <div class="block_title_hist">
                    <a class="title_hist">Контроль LAN IP</a>
                </div>
                <canvas id="canvas_comm_ip" class="chart" style="max-width: 220px; max-height: 220px;"></canvas>
            </div>
            <div class="block_canvas">
                <div class="block_title_hist">
                    <a class="title_hist">Контроль телефона</a>
                </div>
                <canvas id="canvas_comm_phone" class="chart" style="max-width: 220px; max-height: 220px;"></canvas>
            </div>
            <div class="block_canvas">
                <div class="block_title_hist">
                    <a class="title_hist">Контроль радио</a>
                </div>
                <canvas id="canvas_comm_radio" class="chart" style="max-width: 220px; max-height: 220px;"></canvas>
            </div>
        </div>
    </div>
</body>
</html>