@font-face {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    src: local('RobotoSlab-Regular'),
        url('../fonts/RobotoSlab-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
}

html{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.conteiner{
    display: flex;
    align-items: center;
}

.block_enter-wrapper{
    background-color: #fff;
    border: 1px solid;
    border-color: #666565;
    height: 640px;
    width: 440px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

.block_enter{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title_first{
    color: #000000;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 55px;
    margin-top: 55px;
    margin-bottom: 30px;
}

.title_second{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 20px 0px;
}

.block_button{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    width: 312px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    transition: all 0.1s ease;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    margin: 15px 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.block_button:hover{
    color: #fff;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
}

.icon{
    margin-left: 74px;
    margin-right: 20px;
    width: 25px;
}

.reg{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.block_input{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}

label{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px;
}

input{
    width: 312px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #616161;
    background: rgba(255, 255, 255, 0.08);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input::placeholder{
    color: rgba(105, 92, 92, 0.70);;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.password-control {
	position: absolute;
	top: 57px;
	right: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/view.svg) 0 0 no-repeat;
}

.password-control.view {
	background: url(../images/no-view.svg) 0 0 no-repeat;
}

.block_restore{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1E0;
    background: #FFF;
    margin-left: 16px;
}

.restore_text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0 16px;
}

.button_enter{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 250px;
    height: 45px;
    background: #0F59B1;
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_enter:hover{
    background:#0f35bf;
    color: #ffffff;
    box-shadow: 0 0 1px #0f35bf,
                  0 0 3px #0f35bf,
                  0 0 5px #0f35bf,
                  0 0 7px #0f35bf;
}

.title_third{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.block_send{
    display: flex;
}

.send_text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 5px;
}