<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="script.js"></script>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <title>Router</title>
    <link href="../static/static.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
                <div class="container">
                    <div class="header_body">
                        <div class="header_logo">
                        <img class="logo" src="../images/logo.png" alt="">
                        <a class="header_title" href="../templates/index.html">ДИСКРЕТНЫЕ <br>ТЕХНОЛОГИИ</a>
                        </div>
                        <div class="header_burger">
                            <span></span>
                        </div>
                        <nav class="header_menu">
                            <ul class="header_list">
                                <li><a class="header_link" href="../templates/index.html">Home</a></li>
                                <li><a class="header_link" href="../templates/wi-fi.html">Wi-Fi</a></li>
                                <li><a class="header_link" href="../templates/ethernet.html">Ethernet</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </header>
        <div class="container">
            <div class="content">
                <a class="content_title">Router settings</a>
                <div class="card">
                    <a class="title" href="../templates/wi-fi.html">Wi-Fi</a>
                    <img class="img" src="../images/router.svg" alt=""/>
                </div>
                <div class="card">
                    <a class="title" href="../templates/ethernet.html">Ethernet</a>
                    <img class="img" src="../images/ethernet.svg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

