<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>AvantGuard</title>
    <link href="../static/static.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <div class="block_enter-wrapper">
            <div class="block_enter">
                <img class="logo" src="../images/avg.svg" alt="">
                <a class="title_second">Cпособ регистрации</a>
                <div class="block_button" onclick="window.location='reg_email.html';">
                    <img class="icon" src="../images/e-mail.svg" alt="">
                    <a class="link" href="reg_email.html">E-mail адрес</a>
                </div>
                <div class="block_button" onclick="window.location='reg_phone.html';">
                    <img class="icon" src="../images/phone.svg" alt="">
                    <a class="link" href="reg_phone.html">Номер телефона</a>
                </div>
                <div class="block_button" onclick="window.location='reg_telegram.html';">
                    <img class="icon" src="../images/telegram.svg" alt="">
                    <a class="link" href="reg_telegram.html">Телеграм</a>
                </div>
                <a href="../templates/index.html" class="reg">Вход</a>
            </div>
        </div>
    </div>
</body>
</html>