<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>AvantGuard</title>
    <link href="../static/static.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <div class="block_enter-wrapper">
            <div class="block_enter">
                <img class="logo" src="../images/avg.svg" alt="">
                <div class="block_input">
                    <label for="login">E-mail</label>
                    <input type="email" id="login" name="login" placeholder="Введите e-mail">
                </div>
                <div class="block_input">
                    <label for="phone">Номер телефона</label>
                    <input type="text" id="phone" name="phone" placeholder="Введите номер телефона">
                </div>
                <div class="block_input">
                    <label for="idtg">ID телеграм</label>
                    <input type="text" id="idtg" name="idtg" placeholder="Введите ID телеграм">
                </div>
                <a href="reg_second.html" class="button_enter">Далее</a>
            </div>
        </div>
    </div>
</body>
</html>