<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>AvantGuard</title>
    <link href="../static/static.css" rel="stylesheet" />
    <script src="../assets/enter.js"></script>
</head>
<body>
    <div class="conteiner">
        <div class="block_enter-wrapper">
            <div class="block_enter">
                <img class="logo" src="../images/avg.svg" alt="">
                <a class="title_second">Введите ID телеграм</a>
                <div class="block_input">
                    <label for="idtg">ID телеграм</label>
                    <input type="text" id="idlogin" name="idtg" placeholder="Введите ID телеграм">
                </div>
                <a class="title_fourth">
                    1. Найти в Телеграмм бот AGInfo, начать сессию нажав на клавишу Start.<br>
                    2. В ответ получите приветствие системы и экранную клавиатуру с двумя клавишами - «Подключение» и «Инфо».<br>
                    3. Для регистрации нажмите клавишу «Подключение», в ответ получите приглашение ввести номер мобильного телефона.<br>
                    4. Наберите номер телефона, в указанном в сообщении формате и нажмите отправить.<br>
                    5. В случае, если данные введены верно, получите сообщение о успешной регистрации.<br>
                </a>
                <a href="#" class="button_enter"  style="margin: 0px;" onclick="funcSendReg()">Подтвердить</a>
            </div>
        </div>
    </div>
</body>
</html>