<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>ИТ Проект</title>
    <script defer src="assets/app.js"></script>
    <link href="static/static.css" rel="stylesheet" />
    <link rel="icon" href="images/ITlogo.svg" type="image/x-icon">
</head>
<body  id="Главная">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header_body">
                    <div class="header_logo">
                        <img class="logo" src="images/ITlogo.svg" alt="">
                        <a class="header_title" href="#Главная">Проект</a>
                    </div>
                    <div class="header_burger">
                        <span></span>
                    </div>
                    <nav class="header_menu">
                        <ul class="header_list">
                            <li><a href="#Главная" class="header_link">Главная</a></li>
                            <li><a href="#Основные_направления" class="header_link">Направления</a></li>
                            <li><a href="#О_компании" class="header_link">О компании</a></li>
                            <li><a href="#Разработки" class="header_link">Разработки</a></li>
                            <li><a href="#Контакты" class="header_link">Контакты</a></li>
                            <li><a href="index_ru.html" class="button_lang">РУ</a></li>
                            <li><a href="index_en.html" class="button_lang">EN</a></li>
                            <li><a href="index_ch.html" class="button_lang">汉语</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="block-1">
                    <div class="block-1_block_title">
                        <p class="block-1_title">ИТ Проект: инновации и качество в мире программного обеспечения</p>
                        <a href="#Контакты" class="block-1_button_1">Подробнее</a>
                    </div>
                    <div class="block-1_block_img">
                        <img class="block-1_img1" src="images/img1_block-1.png" alt="">
                    </div>
                </div>
                <div class="block-2" id="Основные_направления">
                    <a class="block-2_title">Основные направления</a>
                    <div class="block-2_cards">
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/controller_block-2.png" alt="">
                            <a class="block-2_description">Разработка программного обеспечения для микро-контроллеров</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/shield_block-2.png" alt="">
                            <a class="block-2_description">Разработка программного обеспечения для систем безопасности</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/applications_block-2.png" alt="">
                            <a class="block-2_description">Создание приложений для мобильных устройств и веб-сервисов</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/business_block-2.png" alt="">
                            <a class="block-2_description">Автоматизации бизнес-процессов</a>
                        </div>
                    </div>
                </div>
                <div class="block-3" id="О_компании">
                    <div class="block-3_block_background">
                        <div class="block-3_block_background">
                            <a class="block-3_title">О компании</a>
                            <div class="block-3_block_about">
                                <div class="block-3_about">
                                    <img class="block-3_img1" src="images/img4_block-3.png" alt=""/>
                                    <a class="block-3_about_text">ИТ Проект — это передовой и инновационный проект в области информационных технологий, 
                                        который занимается разработкой специализированного программного обеспечения для решения сложных и актуальных задач современного мира. 
                                        Наша команда состоит из опытных профессионалов, которые готовы предложить свежие идеи и технологии для создания высококачественных и надёжных программных продуктов.</a>
                                </div>
                            </div>
                            <a class="block-3_title">Наши преимущества</a>
                            <ul class="block-3_advantages">
                                <li class="block-3_description">Опыт и профессионализм: Наша команда разрабатывает программное обеспечение уже более 25 лет.</li>
                                <li class="block-3_description">Индивидуальный подход: Мы учитываем потребности и особенности каждого клиента.</li>
                                <li class="block-3_description">Инновационность: Мы предлагаем нашим клиентам передовые решения в области программного обеспечения.</li>
                                <li class="block-3_description">Быстрая реализация проектов: Мы ценим ваше время.</li>
                                <li class="block-3_description">Гибкость и масштабируемость: Наши решения легко адаптируются под рост и развитие вашего бизнеса.</li>
                                <li class="block-3_description">Прозрачность и доверие: Мы стремимся к открытому и честному сотрудничеству с нашими клиентами.</li>
                                <li class="block-3_description">Конкурентоспособные цены: Мы предлагаем инновационные решения по доступным ценам.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-3_block_slogan">
                        <div class="block-3_block_description">
                            <a class="block-3_description_slogan">Мы стремимся к постоянному совершенствованию наших продуктов и услуг, 
                                поэтому активно внедряем современные методы разработки, анализа и тестирования.</a>
                            <div class="block-3_block_buttons">
                                <a href="#Контакты" class="block-3_button_1">Подробнее</a>
                                <a href="#Разработки" class="block-3_button_2">Разработки</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-4" id="Разработки">
                    <a class="block-3_title" id="Разработки">Разработки</a>
                    <div class="block-4_block_cards">
                        <div class="block-4_card_avantguard">
                            <div class="block-4_block_title_avantguard">
                                <img class="block-4_card_logo_avantruard" src="images/logo_avantruard.png" alt=""/>
                                <a class="block-4_card_title_avantguard">Avantguard</a>
                            </div>
                            <a class="block-4_card_text_avantguard">Технологическая платформа для сбора и анализа информации различных систем. 
                                Avantguard представляет собой единую систему контроля параметров от различных систем автоматизации и мониторинга (безопасность, ЖКХ, умный дом и тд.). 
                                Платформа анализирует поступающие данные и информирует о возможности возникновения нештатных ситуаций.</a>
                            <div class="block-4_card_buttons_avantguard">
                                <a href="#avantguard" class="block-4_button_1">Подробнее</a>
                                <a href="https://lk.avantguard.pro/user/signin" class="block-4_button_2">На сайт</a>
                            </div>
                        </div>
                        <div class="block-4_card_discrete_technologies">
                            <div class="block-4_block_title_discrete_technologies">
                                <img class="block-4_card_logo_discrete_technologies" src="images/logo_discrete_technologies.png" alt=""/>
                                <a class="block-4_card_title_discrete_technologies">Дискретные<br> технологии</a>
                            </div>
                            <a class="block-4_card_text_discrete_technologies">Мы являемся партнерами Дискретных технологий и разрабатываем для них ПО.
                                Дискретные технологии занимаются разработкой и производством электронных систем в сфере автоматизации производственных процессов 
                                и мелкосерийного производства промышленной автоматики.</a>
                            <div class="block-4_card_buttons_discrete_technologies">
                                <a href="#discrete_technologies" class="block-4_button_1">Подробнее</a>
                                <a href="http://www.discret.ru" class="block-4_button_2">На сайт</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-5" id="avantguard">
                    <div class="block-5_block_background">
                        <div class="block-5_block_title_avantguard">
                            <img class="block-5_logo_avantruard" src="images/logo_avantruard.png" alt=""/>
                            <a class="block-5_title_avantguard">Avantguard</a>
                        </div>
                        <a class="block-5_block_f_title_avantguard">Особенности реализации</a>
                        <div class="block-5_block_avantguard">
                            <div class="block-5_block_text_avantguard">
                                <a class="block-5_text_avantguard">Техническая платформа в режиме On-line автоматически выводит аналитические данные на мобильные и стационарные устройства 
                                    с последующим предоставлением возможности реагирования в автоматическом или ручном режимах. Платформа развёртывается на одном или нескольких серверах, 
                                    в качестве которых могут выступать как физические, так и виртуальные машины. Технологическая платформа работает под управлением операционной системы Astra Linux. 
                                    Возможно развертывание и использование компонентов платформы с использованием других дистрибутивов Linux, FreeBSD, Windows. Архитектура системы позволяет размещать 
                                    отдельные сервисы на различных серверах, что обеспечивает масштабируемость, контролируемое распределение вычислительной нагрузки и загрузки сетевых интерфейсов. 
                                    Предусмотрен механизм резервирования сервисов, когда в случае недоступности отдельных ресурсов система автоматически перестраивает информационные потоки.</a>
                            </div>
                        </div>
                        <a class="block-5_block_s_title_avantguard">Эффект от внедрения</a>
                        <ol class="block-5_block_text_effect_avantguard">
                            <li class="block-5_text_effect_avantguard">Возможность отказаться от услуг пультовой охраны и платить только за реагирование.</li>
                            <li class="block-5_text_effect_avantguard">Внедрение платформы позволяет получать достоверную информацию о происходящем на объекте в режиме реального времени, 
                                тем самым исключая зависимость от внешних контрагентов и собственных сотрудников.</li>
                            <li class="block-5_text_effect_avantguard">Возможность удалённого доступа к информации, реагирования на неё, управления и анализа из любой части мира, где есть интернет.</li>
                            <li class="block-5_text_effect_avantguard">Все оборудование и доступ к платформе могут быть размещены как на территории Заказчика, так и может предоставляться в виде облачного сервиса.</li>
                            <li class="block-5_text_effect_avantguard">Оборудование можно легко переносить и подключать на других объектах.</li>
                            <li class="block-5_text_effect_avantguard">Контроль статуса работоспособности оборудования и систем подключённых к технологической платформе.</li>
                            <li class="block-5_text_effect_avantguard">Минимизация трудозатрат на обслуживании и поддержании процесса.</li>
                        </ol>
                    </div>
                </div>
                <div class="block-6" id="discrete_technologies">
                    <div class="block-6_block_title_discrete_technologies">
                        <img class="block-6_logo_discrete_technologies" src="images/logo_discrete_technologies.png" alt=""/>
                        <a class="block-6_title_discrete_technologies">Дискретные<br> технологии</a>
                    </div>
                    <div class="block-6_block_discrete_technologies">
                        <div class="block-6_block_text_discrete_technologies">
                            <img class="block-6_img1" src="images/img1_block-6.png" alt=""/>
                            <a class="block-6_text_discrete_technologies">Интеграция ИТ Проекта и Дискретных технологий предполагает совместную разработку 
                                программного обеспечения для микроконтроллеров с помощью тесного сотрудничества и обмена знаниями между компаниями. 
                                Этот процесс включает в себя взаимопонимание, тестирование, обучение и поддержку для обеспечения успешной реализации проекта.</a>
                        </div>
                    </div>
                </div>
                <div class="block-7" id="Контакты">
                    <div class="block-7_block_background">
                        <a class="block-3_title">Контакты</a>
                        <div class="block-7_block_contacts">
                            <div class="block-7_block_info">
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">Наш офис</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_our_office.svg" alt=""/>
                                        <a class="block-7_info_description">170100, г. Тверь,<br> ул. Андрея Дементьева,<br> д. 37</a>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">Номер телефона</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_phone_number.svg" alt=""/>
                                        <div class="block-7_block_phones">
                                            <a class="block-7_info_description">+7 (4822) 33-11-23</a><br>
                                            <a class="block-7_info_description">+7 (4822) 33-13-23</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">E-Mail адресс</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_e-mail.svg" alt=""/>
                                        <a class="block-7_info_description">info@proektit.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-7_block_form">
                                <a class="block-7_f_title">Остались вопросы?</a><br>
                                <a class="block-7_s_title">Оставьте свои контакты и <br>наш менеджер свяжется с Вами</a>
                                <form action="send_mail.php" name="form" method="POST">
                                    <input type="text" id="name" name="name" class="name" placeholder="Ваше имя" data-reg="^[А-ЯЁ][а-яё]*$">
                                    <input type="text" id="phone" name="phone" class="number" placeholder="Ваш телефон" data-reg="^((\+7|7|8)+([0-9]){10})$">
                                    <input type="text" id="email" name="email" class="e-mail_address" placeholder="Ваш e-mail" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"> 
                                    <textarea name="message" class="comment" placeholder="Ваше сообщение"></textarea>
                                    <button type="submit" name="submit" value="Send" class="block-7_button_1" data-callback='onSubmit' data-action='submit'>Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer_container">
                <div class="footer_body">
                    <div class="footer_logo">
                        <div class="header_logo">
                            <img class="logo" src="images/ITlogo.svg" alt="">
                            <a class="header_title" href="#Главная">Проект</a>
                        </div>
                        <a class="footer_text">ИТ Проект: инновации и качество в мире программного обеспечения</a>
                    </div>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a href="#Главная" class="footer_link">Главная</a></li>
                            <li><a href="#Основные_направления" class="footer_link">Направления</a></li>
                            <li><a href="#О_компании" class="footer_link">О компании</a></li>
                            <li><a href="#Разработки" class="footer_link">Разработки</a></li>
                            <li><a href="#Контакты" class="footer_link">Контакты</a></li>
                        </ul>
                    </nav>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a class="footer_title">Контакты</a></li>
                            <li><a class="footer_description">Время работы: Пн-Птн 9:00-18:00</a></li>
                            <li><a class="footer_description">+7 (4822) 33-11-23</a></li>
                            <li><a class="footer_description">+7 (4822) 33-13-23</a></li>
                            <li><a class="footer_description">info@proektit.ru</a></li>
                            <li><a class="footer_description">170100, г. Тверь, ул. Андрея Дементьева, д. 37</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

