<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>IT Project</title>
    <script defer src="assets/app.js"></script>
    <link href="static/static.css" rel="stylesheet" />
    <link rel="icon" href="images/ITlogo.svg" type="image/x-icon">
</head>
<body  id="Главная">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header_body">
                    <div class="header_logo">
                        <img class="logo" src="images/ITlogo.svg" alt="">
                        <a class="header_title" href="#Главная">Project</a>
                    </div>
                    <div class="header_burger">
                        <span></span>
                    </div>
                    <nav class="header_menu">
                        <ul class="header_list">
                            <li><a href="#Главная" class="header_link">Home</a></li>
                            <li><a href="#Основные_направления" class="header_link">Activity</a></li>
                            <li><a href="#О_компании" class="header_link">About</a></li>
                            <li><a href="#Разработки" class="header_link">Developments</a></li>
                            <li><a href="#Контакты" class="header_link">Contacts</a></li>
                            <li><a href="index.html" class="button_lang">РУ</a></li>
                            <li><a href="index_en.html" class="button_lang">EN</a></li>
                            <li><a href="index_ch.html" class="button_lang">汉语</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="block-1">
                    <div class="block-1_block_title">
                        <p class="block-1_title">IT Project: innovation and quality in the software world</p>
                        <a href="#Контакты" class="block-1_button_1">More</a>
                    </div>
                    <div class="block-1_block_img">
                        <img class="block-1_img1" src="images/img1_block-1.png" alt="">
                    </div>
                </div>
                <div class="block-2" id="Основные_направления">
                    <a class="block-2_title">Main activity</a>
                    <div class="block-2_cards">
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/controller_block-2.png" alt="">
                            <a class="block-2_description">Software development for microcontrollers</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/shield_block-2.png" alt="">
                            <a class="block-2_description">Software development for security systems</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/applications_block-2.png" alt="">
                            <a class="block-2_description">Creating applications for mobile devices and web-services</a>
                        </div>
                        <div class="block-2_card">
                            <img class="block-2_icon" src="images/business_block-2.png" alt="">
                            <a class="block-2_description">Automation of business processes</a>
                        </div>
                    </div>
                </div>
                <div class="block-3" id="О_компании">
                    <div class="block-3_block_background">
                        <a class="block-3_title">About company</a>
                        <div class="block-3_block_about">
                            <div class="block-3_about">
                                <img class="block-3_img1" src="images/img4_block-3.png" alt=""/>
                                <a class="block-3_about_text">IT Project is an advanced and innovative project in the field of information technologies, 
                                    which develops specialized software to solve complex and urgent tasks of the modern world. 
                                    Our team consists of professionals who are ready to offer fresh ideas and technologies to create high-quality 
                                    and reliable software products.</a>
                            </div>
                        </div>
                        <a class="block-3_title">Our advantages</a>
                        <ul class="block-3_advantages">
                            <li class="block-3_description">Experience and professionalism: Our team has been developing software for over 25 years.</li>
                            <li class="block-3_description">Individual approach: We take into account the needs and features of each client.</li>
                            <li class="block-3_description">Innovation: We offer our customers advanced software solutions.</li>
                            <li class="block-3_description">Fast implementation of projects: We value your time.</li>
                            <li class="block-3_description">Flexible and scalable: Our solutions can easily be adapted to the growth and development of your business.</li>
                            <li class="block-3_description">Transparency and trust: We strive for open and honest cooperation with our customers.</li>
                            <li class="block-3_description">Competitive prices: We offer innovative solutions at affordable prices.</li>
                        </ul>
                    </div>
                    <div class="block-3_block_slogan">
                        <div class="block-3_block_description">
                            <a class="block-3_description_slogan">We strive to continuously improve our products and services, 
                                so we are actively introducing modern methods of development, analysis and testing.</a>
                            <div class="block-3_block_buttons">
                                <a href="#Контакты" class="block-3_button_1">More</a>
                                <a href="#Разработки" class="block-3_button_2">Developments</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-4" id="Разработки">
                    <a class="block-3_title" id="Разработки">Developments</a>
                    <div class="block-4_block_cards">
                        <div class="block-4_card_avantguard">
                            <div class="block-4_block_title_avantguard">
                                <img class="block-4_card_logo_avantruard" src="images/logo_avantruard.png" alt=""/>
                                <a class="block-4_card_title_avantguard">Avantguard</a>
                            </div>
                            <a class="block-4_card_text_avantguard">A technological platform for collecting and analyzing information from various systems. 
                                Avantguard is a unified system for controlling parameters from various automation and monitoring systems 
                                (security, housing and utilities, smart home, etc.). The platform analyzes incoming data and informs about 
                                the possibility of abnormal situations.</a>
                            <div class="block-4_card_buttons_avantguard">
                                <a href="#avantguard" class="block-4_button_1">More</a>
                                <a href="https://lk.avantguard.pro/user/signin" class="block-4_button_2">On site</a>
                            </div>
                        </div>
                        <div class="block-4_card_discrete_technologies">
                            <div class="block-4_block_title_discrete_technologies">
                                <img class="block-4_card_logo_discrete_technologies" src="images/logo_discrete_technologies.png" alt=""/>
                                <a class="block-4_card_title_discrete_technologies">Discrete<br> technologies</a>
                            </div>
                            <a class="block-4_card_text_discrete_technologies">We are partners with Discrete Technologies and develop software for them. 
                                Discrete Technologies develops and manufactures electronic systems in the field of automation of production 
                                processes and small-scale production of industrial automation.</a><br><br><br>
                            <div class="block-4_card_buttons_discrete_technologies">
                                <a href="#discrete_technologies" class="block-4_button_1">More</a>
                                <a href="http://www.discret.ru" class="block-4_button_2">On site</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-5" id="avantguard">
                    <div class="block-5_block_background">
                        <div class="block-5_block_title_avantguard">
                            <img class="block-5_logo_avantruard" src="images/logo_avantruard.png" alt=""/>
                            <a class="block-5_title_avantguard">Avantguard</a>
                        </div>
                        <a class="block-5_block_f_title_avantguard">Features of implementation</a>
                        <div class="block-5_block_avantguard">
                            <div class="block-5_block_text_avantguard">
                                <a class="block-5_text_avantguard">The technical platform automatically displays analytical data on mobile and stationary devices in the On-line mode, 
                                    followed by the possibility of responding in automatic or manual modes. The platform is deployed on one or more servers, 
                                    which can be both physical and virtual machines. The technological platform runs under the Astra Linux operating system. 
                                    Deployment and usage of the platform components with other Linux, FreeBSD and Windows distributions is possible. 
                                    The system architecture allows you to place individual services on different servers, which provides scalability and controlled distribution. 
                                    There is a mechanism of service redundancy, in case of unavailability of some resources the system automatically rebuilds information flows.</a>
                            </div>
                        </div>
                        <a class="block-5_block_s_title_avantguard">Effect of implementation</a>
                        <ol class="block-5_block_text_effect_avantguard">
                            <li class="block-5_text_effect_avantguard">Ability to refuse panel protection services and pay only for the response.</li>
                            <li class="block-5_text_effect_avantguard">The implementation of the platform allows you to get reliable information about what is happening at the site in real time, 
                                thereby eliminating dependence on external contractors and own employees.</li>
                            <li class="block-5_text_effect_avantguard">The ability to remotely access, respond to, manage and analyze information from anywhere in the world where there is internet.</li>
                            <li class="block-5_text_effect_avantguard">All equipment and access to the platform can be hosted on the Customer's premises or can be provided as a cloud service.</li>
                            <li class="block-5_text_effect_avantguard">The equipment can be easily moved and connected at other sites.</li>
                            <li class="block-5_text_effect_avantguard">Monitoring the status of equipment and systems connected to the technology platform.</li>
                            <li class="block-5_text_effect_avantguard">Minimization of labor costs for maintenance and process support.</li>
                        </ol>
                    </div>
                </div>
                <div class="block-6" id="discrete_technologies">
                    <div class="block-6_block_title_discrete_technologies">
                        <img class="block-6_logo_discrete_technologies" src="images/logo_discrete_technologies.png" alt=""/>
                        <a class="block-6_title_discrete_technologies">Discrete<br> technologies</a>
                    </div>
                    <div class="block-6_block_discrete_technologies">
                        <div class="block-6_block_text_discrete_technologies">
                            <img class="block-6_img1" src="images/img1_block-6.png" alt=""/>
                            <a class="block-6_text_discrete_technologies">Integration of the IT Project and Discrete Technologies involves the collaborative development 
                                of microcontroller software through close cooperation and knowledge sharing between the companies. 
                                This process includes mutual understanding, testing, training and support to ensure successful project implementation.</a>
                        </div>
                    </div>
                </div>
                <div class="block-7" id="Контакты">
                    <div class="block-7_block_background">
                        <a class="block-3_title">Contacts</a>
                        <div class="block-7_block_contacts">
                            <div class="block-7_block_info">
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">Our office</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_our_office.svg" alt=""/>
                                        <a class="block-7_info_description">170100, Tver,<br> Andrei Dementieva St.,<br> 37</a>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">Phone number</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_phone_number.svg" alt=""/>
                                        <div class="block-7_block_phones">
                                            <a class="block-7_info_description">+7 (4822) 33-11-23</a><br>
                                            <a class="block-7_info_description">+7 (4822) 33-13-23</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-7_info_card">
                                    <a class="block-7_info_title">E-Mail address</a>
                                    <div class="block-7_block_card">
                                        <img class="block-7_info_logo" src="images/logo_e-mail.svg" alt=""/>
                                        <a class="block-7_info_description">info@proektit.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-7_block_form">
                                <a class="block-7_f_title">Any other questions?</a><br>
                                <a class="block-7_s_title">Submit us your contacts and our manager will contact you</a>
                                <form action="send_mail.php" name="form" method="POST">
                                    <input type="text" id="name" name="name" class="name" placeholder="Name" data-reg="^[A-Z][a-z]*$">
                                    <input type="text" id="phone" name="phone" class="number" placeholder="Phone" data-reg="^((\+)+([0-9]){11})$">
                                    <input type="text" id="email" name="email" class="e-mail_address" placeholder="E-mail" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"> 
                                    <textarea name="message" class="comment" placeholder="Message"></textarea>
                                    <a class="block-7_info_description">Confirm, that you are not a robot</a>
                                    <table>
                                        <tr>
                                            <td><input type="text" name="num1" class="captcha" placeholder="Number" data-reg="^[0-9]+"> <a class="symbol">+</a> </td>
                                            <td><input type="text" name="num2" class="captcha" placeholder="Number" data-reg="^[0-9]+"> <a class="symbol">=</a> </td>
                                            <td><input type="text" name="res" class="captcha" placeholder="Sum"></td>
                                        </tr>
                                    </table>
                                    <button type="submit" name="submit" value="Send" class="block-7_button_1" data-callback='onSubmit' data-action='submit'>Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer_container">
                <div class="footer_body">
                    <div class="footer_logo">
                        <div class="header_logo">
                            <img class="logo" src="images/ITlogo.svg" alt="">
                            <a class="header_title" href="#Главная">Project</a>
                        </div>
                        <a class="footer_text">IT Project: innovation and quality in the software world</a>
                    </div>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a href="#Главная" class="footer_link">Home</a></li>
                            <li><a href="#Основные_направления" class="footer_link">Activity</a></li>
                            <li><a href="#О_компании" class="footer_link">About</a></li>
                            <li><a href="#Разработки" class="footer_link">Developments</a></li>
                            <li><a href="#Контакты" class="footer_link">Contacts</a></li>
                        </ul>
                    </nav>
                    <nav class="footer_menu">
                        <ul class="footer_list">
                            <li><a class="footer_title">Contacts</a></li>
                            <li><a class="footer_description">Working time: Пн-Птн 9:00-18:00</a></li>
                            <li><a class="footer_description">+7 (4822) 33-11-23</a></li>
                            <li><a class="footer_description">+7 (4822) 33-13-23</a></li>
                            <li><a class="footer_description">info@proektit.ru</a></li>
                            <li><a class="footer_description">170100, Tver, Andrei Dementieva St., 37</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

