<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="../images/icon.svg" />
    <link href="../static/static.css" rel="stylesheet" />
    <title>От застройщика</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="../index.html" class="header_link">Главная</a></li>
                        <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                        <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                        <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                        <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                    </ul>
                </nav>
                <div style="z-index: 2;">
                    <div class="header_block_contacts">
                        <img src="../images/phone.svg" alt="">
                        <a class="header_contact">89201670373</a>
                    </div>
                    <div class="header_block_contacts">
                        <img src="../images/mail.svg" alt="">
                        <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                    </div>
                </div>
            </header>
            <div class="main_block_about_project">
                <a class="title">д. Палкино, ул. Александровская, д. 41</a>
                <div class="main_block_sections" style="justify-content: space-evenly;">
                    <div class="block_sections" style="flex-direction: unset;">
                        <img src="../images/section_1_1.png" alt="" class="section_img">
                        <img src="../images/section_2_1.png" alt="" class="section_img" style="margin-left: 20px;">
                    </div>
                    <div>
                        <a class="text">
                            Общая площадь: 108,50 м<sup>2</sup>.<br>
                            Площадь земельного участка: 323 м<sup>2</sup>.
                        </a>
                        <a class="text section_num" style="justify-content: flex-start;"><strong>Назначение помещений:</strong></a>
                        <a class="text">
                            <strong>1 этаж:</strong><br>
                            - прихожая;<br>
                            - кухня-гостинная;<br>
                            - сан.узел.<br>
                        </a>
                        <a class="text" style="padding-top: 10px;">
                            <strong>2 этаж:</strong><br>
                            - спальня (наличие балкона 3 м<sup>2</sup>);<br>
                            - спальня (наличие балкона 3 м<sup>2</sup>);<br>
                            - спальня;<br>
                            - сан. узел;<br>
                            - гардеробная.<br>
                        </a>
                    </div>
                </div>
            </div>
            <footer>
                <div class="main_block_footer">
                    <a class="title">Таунхаус от застройщика</a>
                </div>
                <div class="block_footer_wrapper">
                    <div class="block_footer">
                        <nav class="footer_menu">
                            <ul class="footer_list">
                                <li><a href="../index.html" class="header_link">Главная</a></li>
                                <li><a href="../templates/about.html" class="header_link">О застройщике</a></li>
                                <li><a href="../templates/property.html" class="header_link">О недвижимости</a></li>
                                <li><a href="../templates/sections.html" class="header_link">Выбрать секцию</a></li>
                                <li><a href="../templates/contacts.html" class="header_link">Контакты</a></li>
                            </ul>
                        </nav>
                        <div>
                            <a class="text">
                                <strong>Адрес: </strong>г.Тверь, Бизнес-центр Plaza, Свободный пер., д. 9, оф. 601
                            </a>
                            <div style="margin-top: 10px;">
                                <div class="header_block_contacts">
                                    <img src="../images/phone.svg" alt="">
                                    <a class="header_contact">89201670373</a>
                                </div>
                                <div class="header_block_contacts">
                                    <img src="../images/mail.svg" alt="">
                                    <a class="header_contact">vitalij.vetrov.75@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../images/contacts_pic.png" alt="">
                </div>
            </footer>
        </div>
    </div>
</body>
</html>